<div class="manage container well admin-formation">
    <div class="row">
        <h2 class="text-center">{{'ADMIN_FORMATIONS' | translate}}</h2>
        <form>
            <h4>{{'SEARCH_FORMATIONS_IN_LIST' | translate}}</h4>
            <div class="form-group col-xs-5">
                <div class="input-group">
                    <input class="form-control"
                           type="text"
                           ng-model="criteria"/>
                    <span class="input-group-addon" ng-click="clearCriteria()">
                            <span class="glyphicon glyphicon-erase"></span>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <br/>

    <div class="row">
        <div class="form-group">
            <label class="control-label"> {{'CREATE_FORMATION' | translate}}
                <button class="btn btn-xs btn-info"
                        ng-click="gotoCreate()">
                    {{'CREATE' | translate}}
                </button>
            </label>
        </div>
    </div>

    <br>

    <!-- INITIAL PAGINATION -->
    <div class="row" ng-show="showFormations">
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchFormations()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="!showFormations">
            <div class="alert alert-danger" role="alert">{{'NOTHING_TO_SHOW' | translate}}</div>
        </div>

        <div class="table-responsive" ng-show="showFormations">
            <table class="table table-condensed">
                <!--<table class="table table-striped table-hover table-condensed table-bordered">-->
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{'CITY' | translate}}</th>
                    <th>{{'PRICE' | translate}}</th>
                    <th>{{'MAX_PEOPLE' | translate}}</th>
                    <th>{{'ADDRESS' | translate}}</th>
                    <th>{{'CONFIRMED' | translate}}</th>
                    <th>{{'ACTIONS' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,formation) in formations | filter:criteria">
                    <td>{{(currentPage - 1) * len + key + 1}}</td>
                    <td>{{formation.place.name}}</td>
                    <td>{{formation.price}}</td>
                    <td>{{formation.maxPeople}}</td>
                    <td>{{formation.place.address}}</td>
                    <td>
                    <span class="label label-success" ng-show="formation.isConfirmed">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    <span class="label label-danger" ng-show="!formation.isConfirmed">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button"
                                    class="btn btn-sm btn-default" ng-class="[formation.costumer.length>0,btn-info]"
                                    ng-click="detailsFormation(formation)"
                                    title="{{'DETAILS' | translate}}"
                                    data-toggle="tooltip">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>

                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="editFormation(formation)"
                                    title="{{'EDIT' | translate}}"
                                    data-toggle="tooltip">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="addCustomerFromWaitingRoom(formation)"
                                    title="{{'ADD_CUSTOMER' | translate}}"
                                    data-toggle="tooltip">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>

                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="deleteFormation(formation)"
                                    title="{{'DELETE' | translate}}"
                                    data-toggle="tooltip">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- FINAL PAGINATION -->
    <div class="row" ng-show="showFormations">
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen2">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen2">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchFormations()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="ModalConfirmMessage.html">
        <div class="modal-header">
            <h3 class="modal-title">{{items.messageType}}</h3>
        </div>
        <div class="modal-body">
            <h4>{{ items.message}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'ACCEPT' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'CANCEL' | translate}}
            </button>
        </div>
    </script>
</div>