<div class="container well createFormContainer">
    <form class="" name="createForm" id="createForm">
        <div class="row">
            <div class="col">
                <h2 class="text-center">{{'CREATE_FORMATION' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-5">
                <label>{{'SELECT_PLACE' | translate}}</label>
                <div class="input-group" data-toggle="tooltip" title="{{'SELECT_PLACE' | translate}}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    <select ng-model="selectedPlace"
                            ng-options="place.name for place in places"
                            class="form-control"
                            required>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{'INSERT_PRICE' | translate}}</label>
                    <div class="input-group" data-toggle="tooltip" title="{{'INSERT_PRICE' | translate}}">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                        <input type="text" class="form-control"
                               autofocus
                               maxlength="3"
                               name="price"
                               ng-model="formation.price"
                               ng-pattern="numExpReg"
                               required>
                    </div>
                    <span style="color:#cc0000" ng-show="createForm.price.$dirty && createForm.price.$invalid">
                        <span ng-show="createForm.price.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createForm.price.$error.pattern">{{'ONLY_NUMBER' | translate}}.</span>
                    </span>
                </div>

                <div class="form-group">
                    <label>{{'INSERT_MAX_PEOPLE' | translate}}</label>
                    <div class="input-group" data-toggle="tooltip" title="{{'INSERT_MAX_PEOPLE' | translate}}">
                        <span class="input-group-addon"><span class="glyphicon">#</span></span>
                        <input type="text" class="form-control"
                               maxlength="3"
                               name="max_people"
                               ng-model="formation.maxPeople"
                               ng-pattern="numExpReg"
                               required>
                    </div>
                    <span style="color:#cc0000"
                          ng-show="createForm.max_people.$dirty && createForm.max_people.$invalid">
                        <span ng-show="createForm.max_people.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createForm.max_people.$error.pattern">{{'ONLY_NUMBER' | translate}}.</span>
                    </span>
                </div>

                <label>{{'SELECT_PSYCHOLOGIST' | translate}}</label>
                <div class="input-group" data-toggle="tooltip" title="{{'SELECT_PSYCHOLOGIST' | translate}}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <select ng-model="selectedPSY"
                            ng-options="psy.name for psy in animatorsPSY"
                            class="form-control"
                            placeholder="Psychologist"
                            required>
                    </select>
                </div>

                <label>{{'SELECT_BAFM' | translate}}</label>
                <div class="input-group" data-toggle="tooltip" title="{{'SELECT_BAFM' | translate}}">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <select ng-model="selectedBAFM"
                            ng-options="BAFM.name for BAFM in animatorsBAFM"
                            class="form-control"
                            placeholder="BAFM/BAFCRI"
                            required>
                    </select>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input class="checkbox"
                               type="checkbox"
                               ng-model="formation.isConfirmed"> {{'CONFIRMED' | translate}}
                    </label>
                </div>
            </div>

            <div class="col col-md-7">
                <fieldset>
                    <legend>{{'INSERT_DATES' | translate}}</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <input name="DateInput" id="DateInput"
                                   class="form-control"
                                   ng-model="fDate.date"
                                   ng-pattern="dateRegExp"
                                   ng-change="validateDateParameters()"
                                   type="text"
                                   maxlength="10"
                                   placeholder="{{'PEAK_DATE' | translate}}"
                                   uib-datepicker-popup="{{format}}"
                                   is-open="popupDateInput.opened"
                                   datepicker-options="DateInputOptions"/>
                            <span class="input-group-addon">
                                <span id="dateInputInit" class="fa fa-calendar" ng-click="openDateInput()"></span>
                            </span>
                        </div>
                        <span style="color:#cc0000"
                              ng-show="createForm.DateInput.$dirty && createForm.DateInput.$invalid || dateOutOfRange">
                            <span ng-show="true">{{'INSERT_VALID_DATE' | translate}}</span>
                        </span>
                    </div>

                    <div class="table-responsive">
                        <table class="table" id="timeTable">
                            <tbody>
                            <tr class="success">
                                <td>
                                    <label class="label label-info">{{'MORNING' | translate}}</label>
                                </td>
                                <td>
                                    <strong>{{'START' | translate}}</strong>
                                    <select name="MorningStartH"
                                            ng-model="MorningStartH"
                                            ng-change="validateDateParameters()"
                                            ng-options="hour for hour in Hours">
                                    </select>:
                                    <select name="MorningStartM"
                                            ng-model="MorningStartM"
                                            ng-change="validateDateParameters()"
                                            ng-options="minute for minute in Minutes">
                                    </select>
                                    am
                                </td>
                                <td>
                                    <strong>{{'END' | translate}}</strong>
                                    <select name="MorningEndH"
                                            ng-model="MorningEndH"
                                            ng-change="validateDateParameters()"
                                            ng-options="hour for hour in Hours">
                                    </select>:
                                    <select name="MorningEndM"
                                            ng-model="MorningEndM"
                                            ng-change="validateDateParameters()"
                                            ng-options="minute for minute in Minutes">
                                    </select>
                                    am
                                </td>
                            </tr>

                            <tr class="success">
                                <td>
                                    <label class="label label-info">{{'AFTERNOON' | translate}}</label>
                                </td>
                                <td>
                                    <strong>{{'START' | translate}}</strong>
                                    <select name="AfternoonStartH"
                                            ng-model="AfternoonStartH"
                                            ng-change="validateDateParameters()"
                                            ng-options="hour for hour in Hours">
                                    </select>:
                                    <select name="AfternoonStartM"
                                            ng-model="AfternoonStartM"
                                            ng-change="validateDateParameters()"
                                            ng-options="minute for minute in Minutes">
                                    </select>
                                    pm
                                </td>
                                <td>
                                    <strong>{{'END' | translate}}</strong>
                                    <select name="AfternoonEndH"
                                            ng-model="AfternoonEndH"
                                            ng-change="validateDateParameters()"
                                            ng-options="hour for hour in Hours">
                                    </select>:
                                    <select name="AfternoonEndM"
                                            ng-model="AfternoonEndM"
                                            ng-change="validateDateParameters()"
                                            ng-options="minute for minute in Minutes">
                                    </select>
                                    pm
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <label></label> <!-- I'am using this label as separator -->

                    <button class="btn btn-info btn-md btn-block"
                            type="button"
                            ng-disabled="InvalidDateParameters"
                            ng-click="insertDate()">{{'INSERT' | translate}}
                    </button>
                    <label></label>
                    <div ng-show="formation.dates.length > 0">
                        <h4><strong>{{'DATES' | translate}}:</strong></h4>
                        <ul>
                            <li ng-repeat="(key,fdate) in formation.dates">
                                <div class="btn-group">
                                    <button class="btn btn-group btn-warning">{{fdate.date | date:'fullDate'}}</button>
                                    <button class="btn btn-group btn-danger" ng-click="deleteDate(key)">X</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <button class="btn btn-primary btn-block"
                    type="submit"
                    ng-disabled="createForm.$invalid"
                    ng-click="createFormation()">{{'CREATE' | translate}}
            </button>
            <button class="btn btn-info btn-block"
                    type="button"
                    ng-click="gotoManage()">{{'GO_BACK' | translate}}
            </button>
        </div>
    </form>
</div>