<div class="container   admin-places">
    <div class="row col-lg-10 col-sm-10 col-lg-10 col-xs-12 col-lg-offset-1 col-sm-offset-1 well">
        <h2>{{'ADMIN_USER_PAGE_HEAD'| translate}}</h2>
        <p>{{'ADMIN_USER_PAGE_HEAD_DESCRIPTION'| translate}}</p>

        <!--Search form  admin-places -->
        <div class="search-form  form-horizontal">
            <div class="form-group">
                <form name="simplesearch">

                    <div class="input-group">
                        <!--For geolocation uib-typeahead="address for address in getLocation($viewValue)"  -->

                        <input class="form-control" placeholder="{{'NAME_USER' | translate}}" type="text"
                               uib-typeahead="iuser.city for iuser in userlist | filter:$viewValue"
                               ng-model="criteriaList"
                               name="city_zipcode"
                               maxlength="40"
                               autofocus
                               ng-pattern="usernameExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'NAME_USER_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="simplesearch.city_zipcode.$dirty && simplesearch.city_zipcode.$invalid"
                        >
                       <span class="input-group-addon" ng-click="searchFuncList()"><span
                               class="fa fa-search"></span></span>

                    </div>
                </form>

                <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=3000
                     ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{ alert.msg }}
                </div>
                <div class="searchComponent" style="margin-top: 3px">
                    <button type="button" class="btn   btn-primary" ng-click="advanceSearch = !advanceSearch">
                        {{'ADVANCED_SEARCH' | translate }}
                    </button>

                    <!--<button type="button"class="btn btn-danger" ng-click="printListPlace( )">{{'PRINT'| translate}}</button>-->
                    <!--<button type="button" class="btn   btn-primary" ng-click="showMap($event)">-->
                        <!--{{'VIEW_MAP' | translate }}-->
                    <!--</button>-->
                    <hr>
                    <div uib-collapse="advanceSearch" horizontal>
                        <div class="fadeInDown">

                            <form name="advancedSearchPlace" class="form-horizontal" role="form">

                                <div class="form-group pull-left row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class=" input-group ">
                                            <span class="input-group-addon"
                                                  id="basic-addon1"><strong>{{'FIRST_NAME' | translate}}:</strong></span>
                                        <input class="form-control"
                                               type="text"
                                               name="name"
                                               id="name"
                                               maxlength="40"
                                               placeholder="{{'FIRTS_NAME' | translate}}"
                                               uib-typeahead="iuser.name for iuser in userlist | filter:$viewValue"
                                               ng-model="seachPlaceAux.name"
                                               ng-pattern="usernameExpReg"
                                               tooltip-placement="top"
                                               tooltip-trigger="'none'"
                                               uib-tooltip="{{'FIRST_NAME_ERROR' | translate}}"
                                               tooltip-class="customClass"
                                               tooltip-is-open="advancedSearchPlace.name.$dirty && advancedSearchPlace.name.$invalid"
                                               aria-describedby="basic-addon1"/>

                                    </div>
                                    <!--<span style="color:#cc0000"-->
                                    <!--ng-show="advancedSearchPlace.name.$dirty && advancedSearchPlace.name.$invalid">-->
                                    <!--<span ng-show="advancedSearchPlace.name.$error.required">Name is required.</span>-->
                                    <!--<span ng-show="advancedSearchPlace.name.$error.pattern">Invalid name format. You should provide between 2 and 40 words characters.</span>-->
                                    <!--</span>-->
                                </div>

                                <div class="form-group pull-left row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class=" input-group ">

                                                <span class="input-group-addon"
                                                      id="basic-addon2"><strong>Address:</strong></span>
                                        <input class="form-control" type="text"
                                               name="address" id="address"
                                               ng-model="seachPlaceAux.address"
                                               maxlength="100"
                                               placeholder="{{'ADDRESS' | translate}}"
                                               uib-typeahead="iuser.address for iuser in userlist| filter:$viewValue"
                                               ng-pattern="usernameExpReg"
                                               tooltip-placement="top"
                                               tooltip-trigger="'none'"
                                               uib-tooltip="{{'ADDRESS_ERROR' | translate}}"
                                               tooltip-class="customClass"
                                               tooltip-is-open="advancedSearchPlace.address.$dirty && advancedSearchPlace.address.$invalid"
                                               aria-describedby="basic-addon2"/>
                                    </div>

                                    <!--<span style="color:#cc0000"-->
                                    <!--ng-show="advancedSearchPlace.address.$dirty && advancedSearchPlace.address.$invalid">-->
                                    <!--<span ng-show="advancedSearchPlace.address.$error.required">First name is required.</span>-->
                                    <!--<span ng-show="advancedSearchPlace.address.$error.pattern">Invalid first name format. You should provide between 2 and 40 words characters.</span>-->
                                    <!--</span>-->
                                </div>
                                <div class="container">
                                    <div class="row col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                                        <div class="panel panel-primary" style="margin-right: 15px">
                                            <div class="panel-heading"><strong class="text-capitalize">{{'OTHER_DATA_USER_SEARCH' | translate
                                                }}</strong></div>
                                            <div class="panel-body">
                                                <div class="container">

                                                    <div class="form-group pull-left col-xs-8 col-sm-8 col-md-8 col-lg-8"
                                                         style="margin-left:1px;margin-right: 2px">

                                                        <div class=" input-group ">
                                                            <span class="input-group-addon"
                                                                  id="basic-addon4"><strong>{{'PHONENUMBER_TEXT' | translate
                                                                }} (*)</strong></span>
                                                            <input class="form-control" type="text"
                                                                   name="agrementnumber" id="agrementnumber"
                                                                   ng-model="seachPlaceAux.agreementNumber"
                                                                   ng-pattern="numExpReg"
                                                                   maxlength="5"
                                                                   placeholder="{{'PHONENUMBER' | translate}}"
                                                                   uib-typeahead="userlist.phoneNumber for userlist in  userlist | filter:$viewValue"
                                                                   tooltip-placement="top"
                                                                   tooltip-trigger="'none'"
                                                                   uib-tooltip="{{'PHONENUMBER_ERROR' | translate}}"
                                                                   tooltip-class="customClass"
                                                                   tooltip-is-open="advancedSearchPlace.agrementnumber.$dirty && advancedSearchPlace.agrementnumber.$invalid"
                                                                   aria-describedby="basic-addon4"/>
                                                        </div>
                                                        <!--<span style="color:#cc0000"-->
                                                        <!--ng-show="customerForm.number.$dirty && customerForm.number.$invalid">-->
                                                        <!--<span ng-show="customerForm.number.$error.required">Zipcode is required.</span>-->
                                                        <!--<span ng-show="customerForm.number.$error.pattern">Invalid zipcode format. You must enter 5 digits.</span>-->
                                                        <!--</span>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=3000
             ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{ alert.msg }}
        </div>
        <!--Place table -->
        <div class="table-responsive">
            <div align="right" style="color:#000066" ng-show="appPlace.totalItemsPlace > 0">

            <ul uib-pagination boundary-links="true" items-per-page="appPlace.itemPerPagePlace"
                    total-items="appPlace.totalItemsPlace"
                    ng-click="getPlaceRecords()" ng-model="appPlace.currentPagePlace" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>

            <table class="table table-responsive ">
                <thead style="font-size: 14px">
                <tr>
                    <!--<th><strong>View</strong></th>-->
                    <th><strong>{{'TABLE_USER_NAME' | translate}}</strong></th>
                    <th><strong>{{'TABLE_USER_FIRSTNAME' | translate}}</strong></th>
                    <th><strong>{{'TABLE_USER_ADDRESS' | translate}}</strong></th>
                    <th><strong>{{'TABLE_USER_PHONENUMBER' | translate}}</strong></th>
                    <th><strong>{{'TABLE_USER_EMAIL' | translate}}</strong></th>
                    <th><strong>{{'TABLE_PLACE_ACTIONS' | translate}}</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="iuser in userlist | filter:criteriaList  ">
                    <!--<td>-->
                        <!--<form>-->
                            <!--<div class=" input-group ">-->
                                <!--<input type="checkbox" checklist-model="search.formation"-->
                                       <!--checklist-value="iplace">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</td>-->
                    <td>{{iuser.name}}</td>
                    <td>{{iuser.firstName}}</td>
                    <td>{{iuser.address}}</td>
                    <td>{{iuser.phoneNumber}}</td>
                    <td>{{iuser.email}}</td>

                    <td>
                        <a class="btn btn-primary" ng-click="editUser(iuser)">{{'EDIT_USER' | translate}}</a>
                        <a class="btn btn-danger" ng-click="deleteUser( iuser)">{{'DELETE'| translate}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="right" style="color:#000066" ng-show="appPlace.totalItemsPlace > 0">
                <ul uib-pagination boundary-links="true" items-per-page="appPlace.itemPerPagePlace"
                    total-items="appPlace.totalItemsPlace"
                    ng-click="getPlaceRecords()" ng-model="appPlace.currentPagePlace" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{items.message}}</h3>
                </div>
                <div class="modal-body">
                    <h4><strong>{{'NAME' | translate}}: </strong>{{ items.name}}</h4>
                    <h4><strong>{{'CITY' | translate}}: </strong>{{items.city}}</h4>
                    <h4><strong>{{'ADDRESS' | translate}}: </strong>{{items.address}}</h4>
                    <!--Selected: <b>{{ selected.item }}</b>-->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">{{'ACCEPT' | translate}}</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">
                        {{'CANCEL' | translate}}
                    </button>
                </div>
                </div>
            </script>
            <script type="text/ng-template" id="myModalMessage.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{items.type}}</h3>
                </div>
                <div class="modal-body">
                    <h3>{{items.message}}</h3>

                    <!--Selected: <b>{{ selected.item }}</b>-->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">
                        {{'CLOSE' | translate}}
                    </button>
                </div>
                </div>
            </script>
        </div>
        <!--<div ng-controller="PlaceEditcontroller">-->

        <!--</div>-->
    </div>
    <script type="text/ng-template" id="pdf-viewer.html">
        <div class="modal-header">
            <h3 class="modal-title">PDF SHOW</h3>
        </div>
        <div class="modal-body">
            <ng-pdf ng-if="pdfUrl" template-url="partials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>

            <!--Selected: <b>{{ selected.item }}</b>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'CLOSE' | translate}}
            </button>
        </div>
        </div>
    </script>
</div>