<br />
<form name="customerForm" class="form-horizontal !important">
    <div class="row">
        <div class="col-sm-12"> <!-- col-sm-offset-1 -->
            <div class="form-group">
                <label class="control-label" for="civility">Civility</label>
                <select name="civility" id="civility" class="form-control" ng-model="vm.customerData.civility">
                    <option value="M" selected>M</option>
                    <option value="Mme">Mme</option>
                    <option value="Mlle">Mlle</option>
                </select>
            </div>

            <div class="form-group">
                <label for="name">Name (*)</label>
                <input name="name" id="name" 
                       ng-model="vm.customerData.name"
                       ng-pattern="vm.nameRegExp"
                       maxlength="40"
                       placeholder="Guerin"
                       class="form-control" 
                       type="text" 
                       required/>
                <span style="color:#cc0000" ng-show="customerForm.name.$dirty && customerForm.name.$invalid">
                    <span ng-show="customerForm.name.$error.required">Name is required.</span>
                    <span ng-show="customerForm.name.$error.pattern">Invalid name format. Only words characters from 2 to 40.</span>
                </span>
            </div>

            <div class="form-group">
                <label>First Name (*)</label>
                <input name="firstName" id="firstName" 
                       ng-model="vm.customerData.firstName"
                       ng-pattern="vm.nameRegExp"
                       maxlength="40"
                       placeholder="Nathan"
                       class="form-control" 
                       type="text" required/>
                <span style="color:#cc0000" ng-show="customerForm.firstName.$dirty && customerForm.firstName.$invalid">
                    <span ng-show="customerForm.firstName.$error.required">First name is required.</span>
                    <span ng-show="customerForm.firstName.$error.pattern">Invalid first name format. Only words characters from 2 to 40.</span>
                </span>
            </div>

            <div class="form-group">
                <label>Phone Number (*)</label>
                <input name="phoneNumber" id="phoneNumber"  
                       class="form-control" type="text"
                       placeholder="0913332109"
                       ng-model="vm.customerData.phoneNumber"
                       maxlength="10"
                       required
                       ng-pattern="vm.phoneRegExp" />
                <span style="color:#cc0000" ng-show="customerForm.phoneNumber.$dirty && customerForm.phoneNumber.$invalid">
                    <span ng-show="customerForm.phoneNumber.$error.required">Phone number is required.</span>
                    <span ng-show="customerForm.phoneNumber.$error.pattern">Invalid phone format. You must enter 10 digits starting with '0'.</span>
                </span>
            </div>
            <div class="form-group">
                <label>Email (*)</label>
                <input name="email" id="email" 
                       ng-model="vm.customerData.email"
                       ng-pattern="vm.emailRedExp"
                       placeholder="nathan.guerin@gmail.com"
                       maxlength="50"
                       class="form-control" 
                       type="text" required />
                <span style="color:#cc0000" ng-show="customerForm.email.$dirty && customerForm.email.$invalid">
                    <span ng-show="customerForm.email.$error.required">Email is required.</span>
                    <span ng-show="customerForm.email.$error.pattern">Invalid email address.</span>
                </span>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="input-group date">
                <label>Birth Date (*)</label>
                <input name="birthDate" id="birthDate" 
                       ng-model="vm.customerData.birthDate"
                       class="form-control" 
                       type="text"
                       required
                       placeholder="2000/05/23"
                       ng-pattern="vm.dateRegExp"
                       uib-datepicker-popup="{{vm.format}}"
                       is-open="vm.popupBirthDate.opened"
                       datepicker-options="vm.dateOptions"/>
                <span class="input-group-addon" ><span id="birthDateInit" class="fa fa-calendar" ng-click="vm.openBirthDate()"></span></span>
            </div>
            <span class="error-message text-danger" ng-show="customerForm.birthDate.$dirty && customerForm.birthDate.$invalid">You should provide a valid date string.</span>
           
            <div class="form-group">
                <label>Birth City</label>
                <input name="birthCity" id="birthCity" 
                       ng-model="vm.customerData.birthCity" 
                       maxlength="50"
                       class="form-control" type="text" />
            </div>

            <div class="form-group">
                <label>Address</label>
                <input name="address" id="address" 
                       ng-model="vm.customerData.address" 
                       maxlength="100"
                       class="form-control" type="text" />
            </div>

            <div class="form-group">
                <label>City</label>
                <input name="city" id="city" 
                       ng-model="vm.customerData.city" 
                       maxlength="50"
                       class="form-control" type="text" />
            </div>

            <div class="form-group">
                <label>ZipCode (*)</label>
                <input name="zipCode" id="zipCode" 
                       ng-model="vm.customerData.zipCode" 
                       class="form-control" 
                       ng-pattern="vm.zipcodeRegExp"
                       maxlength="5"
                       placeholder="33216"
                       required
                       type="text" />
                <span style="color:#cc0000" ng-show="customerForm.zipCode.$dirty && customerForm.zipCode.$invalid">
                    <span ng-show="customerForm.zipCode.$error.required">Zipcode is required.</span>
                    <span ng-show="customerForm.zipCode.$error.pattern">Invalid zipcode format. You must enter 5 digits.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <div uib-alert ng-repeat="message in vm.validationMessages" ng-class="'alert-' + message.type" close="vm.closeMessage($index)" dismiss-on-timeout="4000">{{message.info}}</div>
        </div>
    </div>
</form>