<br />
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
            <label>Number</label>
            <input aria-required="true" id="number" ng-model="vm.customerData.driverLicence.number" class="form-control required" type="text" />
        </div>

        <div class="form-group">
            <label>Place Of Deliverance</label>
            <input aria-required="true" id="placeOfDeliverance" ng-model="vm.customerData.driverLicence.placeOfDeliverance" class="form-control required" type="text" />
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
            <label>Date Of Deliverance</label>
            <input aria-required="true" id="dateOfDeliverance" ng-model="vm.customerData.driverLicence.dateOfDeliverance" class="form-control required" type="date" />
        </div>

        <div class="form-group">
            <label>Date Of Procuration</label>
            <input id="dateOfProcuration" ng-model="vm.customerData.driverLicence.dateOfProcuration" class="form-control" type="date" />
        </div>
    </div>
</div>