<br />
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <h4>If you like, you cant make an immediate payment using mangopay.</h4>
        <div class="form-group pull-right">
            <input aria-required="true" id="paybutton" class="btn btn-success" type="button" value="Payment"/>
        </div>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
        <h5>Olso you can choose another form of payment.</h5>
        <div class="radio">
            <label>
                <input type="radio" name="payOptions" id="payOptionsCheck" value="payOptionsCheck"> Check
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="payOptions" id="payOptionsVirement" value="payOptionsVirement"> Virement
            </label>
        </div>

    </div>
</div>