<br />
<br />
<br />
<div class="container" id="book-view" ng-controller="WizardController as vm">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
            <div id="wizard-container">
                <div class="col-sm-12 text-center">
                    <h3>Book Formation</h3>
                </div>
                <div id="wizard-step-container">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}">
                            <a ng-click="vm.gotoStep(step.step)"><span class="badge">{{step.step}}</span> {{step.name}}</a>
                        </li>
                    </ul>
                </div>

                <div id="wizard-content-container">
                    <ng-include src="vm.getStepTemplate()"></ng-include>
                </div>

                <div id="wizard-navigation-container">
                    <div class="pull-left">
                        <span class="btn-group">
                            <button style="border-radius: 10%" ng-disabled="vm.currentStep <= 1" class="btn btn-primary" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)"><span class="badge"><i class="fa fa-arrow-left"></i></span> Previous </button>
                        </span>
                    </div>
                    <div class="pull-right">
                        <span class="btn-group">
                            <button style="border-radius: 10%" ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)"> Next <span class="badge"><i class="fa fa-arrow-right"></i></span></button>
                        </span>
                       <!-- <button ng-disabled="vm.currentStep != vm.steps.length" class="btn btn-success" name="next" type="button" ng-click="vm.book()"> <i class="fa fa-floppy-o"></i> Book</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">
        </div>
    </div>
</div>