<header class="fix-to-top">
    <img src="img/header_one.jpg">
    <div class="header-title" align="center">
        <div class="">
            <h2>A Great Title.........</h2>
            <h4>A Better SubTitle.........</h4>
        </div>
    </div>
    <div class="header-content" align="center">
        <div class="">
            <form class="form-inline">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search..." ng-model="criterio">
                    <span class="input-group-btn">
                        <button ng-click="searchFunc()" type="button" class="btn btn-danger">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
                <button class="btn btn-danger" ng-click="showMap(null)">
                    <i class="glyphicon glyphicon-map-marker"></i> Google Maps
                </button>
            </form>
        </div>
    </div>
</header>