<div class="container-fluid" style="margin-top: 10px">
    <div class="search col-md-12">
        <div class="search-form col-md-6 col-xs-7 col-md-offset-1">
            <form>
                <div class="input-group input-group">
                    <input class="form-control" type="text" placeholder="Search..." ng-model="criterio">
                    <span class="input-group-btn">
                        <button ng-click="searchBtnFunc()" type="button" class="btn btn-danger">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>

        </div>
        <button class="btn btn-danger hidden-xs" ng-click="showMap(null)">
            <i class="glyphicon glyphicon-map-marker"></i> Google Maps
        </button>
        <button type="button" class="btn btn-link" ng-click="advanceSearch=!advanceSearch">Advance Search</button>

        <div class="advance-search col-md-6 col-xs-8 col-md-offset-1 animated "  ng-class="{'fadeInDown':advanceSearch,'hidden':!advanceSearch}">
            <form class="form-inline">
                <div class="form-group"><label class="sr-only" >Email address</label> <input
                        class="form-control" placeholder="Email" type="email"></div>

                <div class="form-group"><label class="sr-only" >Email address</label> <input
                        class="form-control"  placeholder="Email" type="email"></div>
                <div class="form-group"><label class="sr-only" >Email address</label> <input
                        class="form-control"  placeholder="Email" type="email"></div>
            </form>
        </div>
        <!---->
        <!--<div class="col-md-12" ng-if="message">-->

        <!--</div>-->

        <div class="col-md-12" style="position: relative; padding: 0">
            <div class="search-result" ng-class="{'col-md-7  col-sm-6':map,'col-md-10':!map,'col-md-offset-1':!map}">
                <div class="information-center" ng-repeat="formationCenter  in searchResullt">
                   <a href="#/formationcenter/{{formationCenter.id}}"> <h4 class="information-center-name"><strong>{{formationCenter.name}}</strong>

                        <a class="hidden-xs" href="" ng-click="showMap(formationCenter.id)"><i
                                class="glyphicon glyphicon-map-marker pull-right"></i></a>

                    </h4>
                    <div class="information-center-location row">
                        <h5 class="col-md-6" ng-repeat=" location in formationCenter.locations">
                            {{location.address}}</h5>
                    </div>
                </div>
            </div>
            <div class="search-result-map" ng-class="{'col-md-5  col-sm-6':map}">

            </div>
        </div>
    </div>
</div>
