<form class="login-form">
    <div class="login-wrap">
        <!--<p class="login-img"><i class="icon_lock_alt"></i></p>-->
        <h4>Select the Username for delete</h4>
        <div class="input-group" data-toggle="tooltip" title="Select the Username">

            <span class="input-group-addon"><i class="icon_profile"></i></span>
            <select ng-model="username" class="form-control">
                <option  ng-repeat="username in usersnames" value="{{username}}">{{username}}</option>
            </select>
        </div>

        <div class="input-group" data-toggle="tooltip" title="Select a Formation Center">
            <span class="input-group-addon"><i class="icon_briefcase"></i></span>
            <input type="text" class="form-control" placeholder="Formation center"
                   maxlength="40"
                   ng-model="formationCenter"
                   disabled>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="deleteLogin()">{{loginButtonText}}
        </button>
    </div>
</form>