<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass .tooltip-inner {
        color: #880000;
        background-color: #fff5ff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    /* Hide arrow */
    .tooltip.customClass .tooltip-arrow {
        display: none;
    }
</style>
<div class="searchresult searchlist">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row col-sm-8 col-xs-12 col-lg-8 ">
            <div class="search-form  form-horizontal">
                <form name="simplesearch" style="margin-left: 0px; padding-left: 0px">
                    <div class=" form-group">
                        <div class="input-group">
                            <!--For geolocation uib-typeahead="address for address in getLocation($viewValue)"-->
                            <input class="form-control" placeholder="Ville/ Zipcode" type="text"
                                   uib-typeahead="state for state in states | filter:$viewValue"
                                   ng-model="criteriaList"
                                   maxlength="40"

                            >
                            <span class="input-group-addon" ng-click="searchFuncList()"><span
                                    class="fa fa-search"></span></span>
                        </div>
                    </div>

                    <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=3000
                         ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{ alert.msg }}
                    </div>
                </form>
            </div>

            <div class="row col-sm-10 col-xs-12 col-lg-10" style="margin-left: 0px; padding-left: 0px">
                <div class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                    <div class="panel-heading">
                        <h4 class="panel-title" ; style="color:#000066;font-size: small ">
                            Filter results by :
                            <!--ng-click="sortType = 'date'; sortReverse = !sortReverse; updateSort()"-->
                        </h4>
                    </div>
                    <div class="panel-body"
                         style="text-align: left ;color:#000066;margin-left: 0px; padding-left: 0px">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn   btn-primary" ng-model="radioModel"
                                    uib-btn-radio="'Left'"
                                    ng-click="sortType = 'price'; sortReverse = !sortReverse; updateSort()">Price
                            </button>
                            <button type="button" class="btn    btn-primary" ng-model="radioModel"
                                    uib-btn-radio="'Middle'"
                                    ng-click="sortType = 'city'; sortReverse = !sortReverse; updateSort()">City
                            </button>
                            <button type="button" class="btn    btn-primary" ng-model="radioModel"
                                    uib-btn-radio="'Right'"
                                    ng-click="sortType = 'datetime'; sortReverse = !sortReverse; updateSort()">Date
                            </button>
                            <button type="button" class="btn   btn-primary" ng-click="showMap($event)"
                                    ng-model="mapView" uib-btn-radio="'Right'">View Map
                            </button>

                        </div>
                    </div>


                </div>

            </div>
            <div class="row hidden-xs col-xs-12  col-sm-8   col-lg 8">
                <!--<label class="fa-pull-left " style="color:#0a0d66 " ng-click="advanceSearch=!advanceSearch"><p>Advanced Search</p></label>-->
                <button type="button" class="btn   btn-primary" ng-click="advanceSearch = !advanceSearch">Advanced
                    Search
                </button>
                <hr>
                <div uib-collapse="advanceSearch" horizontal>
                    <div class="fadeInDown">
                        <form name="myform" novalidate>
                            <!--<div class=" animated " style="padding-left: 0"-->
                            <!--ng-class="{'fadeInDown':advanceSearch,'hidden':!advanceSearch}">-->
                            <div class=" form-group">
                                <label style="width: 50px; color: #cd0b1a">Date: </label>
                                <div class=" input-group date ident-date">
                                        <span class="input-group-addon"><span
                                                class="text-danger">Init  date:</span></span>
                                    <input tooltip-placement="top" tooltip-trigger="'none'"
                                           uib-tooltip="Init date field should be date" tooltip-class="customClass"
                                           tooltip-is-open="myform.initDate.$dirty && myform.initDate.$invalid"
                                           class="form-control md-datepicker-is-showing"
                                           uib-datepicker-popup="{{format}}" is-open="popup1.opened" name="initDate"
                                           ng-pattern="/^\d{2}-\w{3,9}-\d{4}$/"
                                           datepicker-options="dateOptionsSearch"
                                           placeholder="" type="text" ng-model="search.initialDate">
                                    <span class="input-group-addon"><span id="datesearchInit" class="fa fa-calendar "
                                                                          ng-click="open1()"></span></span>

                                </div>
                                <!--<span   class="error-message text-danger" ng-show="myform.initDate.$dirty && myform.initDate.$invalid"><p style="text-decoration-color:#f1a417;background: #afd9ee">Init date field should be date</p></span>-->

                                <div class=" input-group date ident-date">
                                        <span class="input-group-addon"><span
                                                class="text-danger">End date:</span></span>
                                    <input tooltip-placement="bottom" tooltip-trigger="'none'"
                                           uib-tooltip="End date field should be date" tooltip-class="customClass"
                                           tooltip-is-open="myform.endDate.$dirty && myform.endDate.$invalid"
                                           class="form-control" uib-datepicker-popup="{{format}}" name="endDate"
                                           ng-pattern="/^\d{2}-\w{3,9}-\d{4}$/" is-open="popup2.opened"
                                           datepicker-options="dateOptionsSearch" placeholder="" type="text"
                                           ng-model="search.endDate">
                                    <span class="input-group-addon"><span id="datesearchEnd" class="fa fa-calendar"
                                                                          ng-click="open2()"></span></span>

                                </div>
                                <!--<span   class="error-message text-danger" ng-show="myform.endDate.$dirty && myform.endDate.$invalid"><p style="text-decoration-color:#f1a417;background: #afd9ee">End date field should be date</p></span>-->

                            </div>
                            <div class="form-group">
                                <label style="width: 50px; color: #cd0b1a">Price: </label>
                                <div class=" input-group ">

                                    <input class="form-control" tooltip-placement="top" tooltip-trigger="'none'"
                                           uib-tooltip="Price field should be of 5 digits"
                                           tooltip-class="customClass"
                                           tooltip-is-open="myform.phoneNumber.$dirty && myform.phoneNumber.$invalid"
                                           placeholder="" name="phoneNumber" type="number" ng-pattern="/^\d{1,5}$/"
                                           ng-model="initialPrice">
                                    <span class="input-group-addon"> <span class="fa fa-money "></span></span>
                                </div>
                                <!--<span   class="error-message text-danger" ng-show="myform.phoneNumber.$dirty && myform.phoneNumber.$invalid"><p style="text-decoration-color:#f1a417;background: #afd9ee">Price field should be of 5 digits</p></span>-->
                            </div>
                            <!--</div>-->
                        </form>
                    </div>
                </div>
                <div class=" advance-search  search-form  form-horizontal panel-group overlay">

                </div>

            </div>
        </div>


    </div>


    <div class="container container-fluid">
        <div class="row">
            <div align="right" style="color:#000066">
                <ul uib-pagination boundary-links="true" items-per-page="app.itemPerPage"
                    total-items="app.totalItems"
                    ng-click="getPagableRecords()" ng-model="app.currentPage" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="iformation in formations | filter:criteriaList | orderBy:sortType ">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6 col-lg 4  clearfix ">
                            <form>
                                <div class=" input-group ">
                                    <input type="checkbox" checklist-model="search.formation"
                                           checklist-value="iformation">
                                    <span class="input-group-addon pull-left"> <div
                                            style="margin-left: 30px;font-style: italic;font-size: large;text-decoration-color: #0e0e0e"
                                            class="centered text-info bold" title="Formation center´s name"><strong>{{iformation.name}}</strong>
                                    </div></span>
                                </div>
                            </form>
                            <span uib-rating tooltip-placement="top-right" uib-tooltip="Popularity" ng-model="1"
                                  max="5" read-only="isReadonly"
                            ></span>
                            <div class="reserver text-left">
                                <button class="btn  btn-danger" style="border-radius: 10%" href=""
                                        ng-click="formationBook(iformation.id)" title="">S'inscrire
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-lg-4  hidden-xs clearfix ">
                            <div class="text-center proximite pcolorbox">
                                <a href="" ng-click="searchPlusInformation(iformation.id)" rel="nofollow"
                                   class="popup-fiche cboxElement">
                                    <div class="icons puce-active pcolorbox"></div>
                                    <div ng-controller="ModalDemoCtrl">
                                        <script type="text/ng-template" id="myModalContent.html">
                                            <div class="modal-header">
                                                <h3 class="modal-title">Formation Center: {{items.name}}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <ul>
                                                    <!--<li ng-repeat="item in items">-->
                                                    <li><a href="#"
                                                           ng-click="$event.preventDefault(); selected.item = items.address">Address:
                                                        {{ items.address }}</a></li>
                                                    <li><a href="#"
                                                           ng-click="$event.preventDefault(); selected.item = items.phoneNumber">Phone:
                                                        {{ items.phoneNumber }}</a></li>
                                                    <li><a href="#"
                                                           ng-click="$event.preventDefault(); selected.item = items.email">Email:
                                                        {{ items.email }}</a></li>
                                                    <!--</li>-->
                                                </ul>
                                                <!--Selected: <b>{{ selected.item }}</b>-->
                                            </div>
                                            <div class="modal-footer">
                                                <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
                                                <button class="btn btn-warning" type="button" ng-click="cancel()">
                                                    {{'CLOSE' | translate}}
                                                </button>
                                            </div>
                                        </script>
                                        <div class="plus-info pcolorbox alert-link"
                                             ng-click="openFormationCenterInfo( iformation.name)"><strong>Other
                                            data</strong></div>
                                    </div>
                                </a>
                            </div>
                            <div style="margin-right: 10px" class="text-info pull-left"><strong>Places:</strong>
                                {{iformation.maxPeople}}
                            </div>
                            <uib-progressbar class="progress-striped active" max="iformation.maxPeople"
                                             value="iformation.customers.length" type="danger"><i>{{
                                iformation.customers.length}}/{{ iformation.maxPeople}}</i></uib-progressbar>

                            <div class="text-left">

                                <div class="text-info"><strong>Dates:</strong></div>
                                <uib-accordion close-others="oneAtATime">
                                    <div style="font-size: small" uib-accordion-group class="panel-default"
                                         heading="{{ getReadableDate(idate.date)}}"
                                         ng-repeat="idate in iformation.dates">
                                        <span class="input-group-addon"
                                              style="font-size: small">  <strong>Morning:</strong>{{idate.morning.hourStart}} -{{idate.morning.hourEnd}}</span>
                                        <span class="input-group-addon"
                                              style="font-size: small">  <strong>Afternoon:</strong>{{idate.afternoon.hourStart}} -{{idate.afternoon.hourEnd}}</span>
                                    </div>
                                </uib-accordion>


                                <div class="hide">
                                    <p>{{iformation.datetime}}</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-4 col-xs-12 col-lg 4  clearfix ">

                            <div class="prix-normal" title="Price" style="margin-bottom: 10px;margin-top: 10px">
                                <span style="margin-right: 1px;font-size: large"
                                      class="label label-default label-pill label-danger"><strong>Price:</strong>{{iformation.price}} €</span>
                                <!--<span class="prix-normal"></span>-->
                            </div>


                            <div class="nom-ville">
                                <strong> City: </strong>{{iformation.city}}
                            </div>

                            <div class="texte-prefecture" title="{{iformation.address}}">
                                <strong>Address: </strong>{{iformation.address}}
                            </div>

                            <!--                            <div class="hide">
                                                            <span class="lieu_id">3604</span>
                                                            &lt;!&ndash;Rich Snippets&ndash;&gt;
                                                            <div itemscope="" itemtype="http://schema.org/Event">
                                                                <a itemprop="url" href="https://www.permisapoints.fr/stage-recuperation-points-angers-49000-proche.html">
                                                                    <span itemprop="name" class="summary">STAGE a  180 €</span>
                                                                </a>
                                                                <span itemprop="startDate" class="dtstart" content="2016-07-18T08h15:00Z">2016-07-18T08h15:00Z</span>
                                                                <span itemprop="endDate" content="2016-07-19T17h00:00Z">2016-07-19T17h00:00Z</span>
                                                                <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                    <span itemprop="name">AFA</span>
                                                                    <span class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                                    <span itemprop="streetAddress">{{formationcenter.adress}}</span>
                                                                        <span itemprop="addressLocality">{{formationcenter.city}}</span>
                                                                        <span itemprop="postalCode">{{formationcenter.zipCode}}</span>
                                                                    </span>
                                                                </span>

                                                                <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                                    <span itemprop="price">{{iformation.price}} €</span>
                                                                </span>

                                                            </div>
                                                            &lt;!&ndash;End Rich Snippets&ndash;&gt;
                                                        </div>-->
                        </div>
                    </div>
                </li>


            </ul>
            <div align="right" style="color:#000066">
                <ul uib-pagination boundary-links="true" items-per-page="app.itemPerPage"
                    total-items="app.totalItems"
                    ng-click="getPagableRecords()" ng-model="app.currentPage" class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <!--<div class="sidebarformation ">-->
      <!---->
    <!--</div>-->
    <!--<div class="map hide-sm">-->
     <!--<div class="map-canvas">-->



         <!---->
     <!--</div>-->
        <!--&lt;!&ndash; search formations list &ndash;&gt;-->

     <!--</div>-->
    </div>