<style>
    h2{
       margin-left: 0px;
    }

</style>
<div class="searchresult searchlist text-info text-justify" >
    <div class="container well">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>{{'LEGAL_MENTIONS' | translate }}</h1>
    <h2>{{'INFORMACION_GENERAL' | translate }} :</h2>
    <p><strong>Protagoras sarl</strong> au capital de 180 000 euros</p>
    <p>Siège social : 9 rue Valentin HAUY 75015 PARIS<br>
        <ul>
            <li>RCS Paris 481 749 687 – SIRET : 481 749 687 00028<br></li>
            <li>APE : 7022Z – TVA : FR 95481749687</li>
        </ul>
    <p><strong>{{'MANAGER' | translate}} :</strong> Franck GENSER<br>
        <strong>{{'EMAIL_LABEL' | translate }} :</strong> contact@permisapoint.fr<br>
        <strong>Tel :</strong> +33 (0)1 45 32 00 04<br>
        <strong>Fax :</strong> +33 (0)1 45 32 00 01</p>
    <h2>{{'INFORMACION_EDITOR' | translate }}  :</h2>
    <p>Le Directeur de la publication du site Permisapoints.fr est Franck GENSER, gérant de PROTAGORAS <br>
        sarl enregistrée au rcs de Paris sous le numéro 481 749 687, propriétaire du site.</p>
    <p>Le prestataire assurant l’hébergement de ce site est la société OVH SAS enregistrée au <br>
        RCS de Roubaix Tourcoing sous le numéro 424 761 419, ayant son siège social 140 quai du Sartel à Roubaix (59100).</p>
    <p>Le site <a title="tous les stages de récupération de points" href="/">formationfinder.fr</a>
        relève de la législation française et internationale sur le droit d’auteur. Tous les droits de reproduction et de représentation <br>
        sont réservés à PROTAGORAS et ce compris les iconographies, films, animations et photographies.</p>

    <h2>Textes de Loi</h2>
    <p>TTous les textes faisant référence au code de la route sont consultables sur  <a href="https://www.legifrance.gouv.fr/" target="_blank">legifrance</a></p>
    </div>
</div>