body {
    background-color: white;
}

/*header*/
header {
    height: 70%;
    left: 0;
    right: 0;
}

header > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.header-title {
    position: relative;
    color: white;
    height: 60%;
}

.header-content {
    position: relative;
    color: white;
    height: 40%;
}

.header-content > div, .header-title > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-content > div {
    background-color: rgba(0, 0, 0, 0.3) !important;;
}

.header-content > div > form {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 600px;
}

.btn-header-search {
    background-color: transparent;
    color: black;
}

.fix-to-top {
    position: fixed;
    top: 0;
}

/*end header*/

/*navbar*/

/* search*/

.search-result {
    margin-top: 15px;

}

.search-result > .information-center {
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;

}

.search-result > .information-center .information-center-name > a {
    color: #C9302C;
}

.search-result > .information-center > .information-center-location > * {
    width: auto !important;

}

.search-result-map {
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 400px;
    /*@remove*/
    background-color: red;
}

.search-result-map.affix {
    position: fixed;
    top: 10px;
    right: 10px;
}

.advance-search {
    margin-top: 10px;
    transition: all .4s ease-in-out;

}

/*information Center*/
.information-center {
    position: relative;
}

.information-center .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-image: url("../img/header_two.jpg");
    color: white;

}

.information-center .content {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    height: auto;
    padding: 5px;

}

.information-center>.content .account-info,.information-center .content .course-info{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;

}
.information-center .content .course-info{
    margin-bottom: 5px;
}
