<!--<header >
    <div class="container container-fluid">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="../../index.html"><h1>Formationfinder</h1></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                &lt;!&ndash;
                <div class="menu">
                &ndash;&gt;
                    <ul class="nav nav-tabs" role="tablist">
                        <li>
                            <form class="navbar-form">
                                <div class="form-horizontal">
                                    <div class=" form-group">
                                        <div class=" input-group">
                                            <input class="form-control"  placeholder="Ville / Zip code" type="text"   >
                                            <span class="input-group-addon"><span class="fa fa-calendar" data-provide="datepicker" name="date" data-date-format="mm/dd/yyyy"></span></span>
                                            <span class="input-group-addon"><span class="fa fa-search"></span></span>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li role="presentation"><a href="../../index.html" class="active">Home</a></li>
                        <li role="presentation"><a href="about.html">About Us</a></li>
                        <li role="presentation"><a href="services.html">Services</a></li>
                        <li role="presentation"><a href="gallery.html">Gallery</a></li>
                        <li role="presentation"><a href="contact.html">Contact</a></li>
                    </ul>
               &lt;!&ndash;
                </div>
                &ndash;&gt;
            </div>

    </nav>&lt;!&ndash;/nav&ndash;&gt;
    </div>/.container
</header>&lt;!&ndash;/header&ndash;&gt;-->

    <!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>-->

<div class="searchresult searchlist" >
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row col-sm-8 col-xs-8 col-lg 8">
            <div class="search-form  form-horizontal">
                <div class=" form-group">
                    <div class=" input-group " >
                        <input  class="form-control"  placeholder="Ville/Zip code" type="text"  ng-model="criteriaList" >
                        <span class="input-group-addon"  ng-click="searchFuncList()"><span class="fa fa-search"></span></span>

                        <!--<uib-alert ng-show="errorValid" dismiss-on-timeout=3000  type="success"  close="closeAlert()">{{ errorMessage }}</uib-alert>-->
                        <!-- <div ng-controller="AlertDemoCtrl">
                             <script type="text/ng-template" id="alert.html">
                                 <div ng-transclude></div>
                             </script>

                             <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
                             <div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white">A happy alert!</div>
                             <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
                         </div>-->
                    </div>


                </div>

        </div>
        <div class="row col-sm-8 col-xs-8 col-lg 8">



                    <label class="fa-pull-left " style="color:#000066 " ng-click="advanceSearch=!advanceSearch">Advanced Search</label>

                   <!-- <div ng-controller="CollapseDemoCtrl">
                        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse Vertically</button>
                        <hr>
                        <div uib-collapse="isCollapsed">
                            <div class="well well-lg">Some content</div>
                        </div>

                        <button type="button" class="btn btn-default animated"    ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">Toggle collapse Horizontally</button>
                        <hr>
                        <div uib-collapse="isCollapsedHorizontal"   ng-class="{'fadeInDown':isCollapsedHorizontal}" horizontal>
                            <div class="well well-lg animated">
                                <div>
                                    <label style="width: 50px">Date: </label>
                                    <div class=" input-group date" >
                                        <input class="form-control"  uib-datepicker-popup="{{format}}"  is-open="popup1.opened" datepicker-options="dateOptions" placeholder="Initial Date" type="text" ng-model="search.initialDate">
                                        <span class="input-group-addon"  ><span id="datesearchInit" class="fa fa-calendar" ng-click="open1()"   ></span></span>

                                    </div>
                                    <div class=" input-group date" >
                                        <input class="form-control" uib-datepicker-popup="{{format}}"  is-open="popup2.opened" datepicker-options="dateOptions" placeholder="End Date" type="text" ng-model="search.endDate">
                                        <span class="input-group-addon"  ><span id="datesearchEnd" class="fa fa-calendar" ng-click="open2()"   ></span></span>
                                    </div>
                                </div>
                                <div>
                                    <label style="width: 50px">Price: </label>
                                    <input class="form-control" placeholder="150 " type="number" ng-model="initialPrice">
                                </div>

                            </div>
                        </div>
                    </div>-->
            <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=3000 ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{ alert.msg }}</div>

           </div>



            <!-- <uib-alert ng-show="errorValid" dismiss-on-timeout=3000  type="success"  close="closeAlert()">{{ errorMessage }}</uib-alert>
             <uib-alert template-url="alert.html">A happy alert!</uib-alert>-->


        </div>
        <div class="row col-sm-8 col-xs-8 col-lg 8">

        </div>

    </div>
    <div class="formationresultlist">
    <div class="container">
        <!-- col-md-10 col-xs-12 col-md-offset-1
           -->

    <div class="row col-sm-8 col-xs-8 col-lg 8">
        <div class="search-form  form-horizontal panel-group">
            <form name="myform" novalidate>
            <div class="advance-search  animated " style="padding-left: 0"
                 ng-class="{'fadeInDown':advanceSearch,'hidden':!advanceSearch}">
                <div>
                    <label style="width: 50px; color: #000066">Date: </label>
                    <div class=" input-group date" >
                        <span class="input-group-addon"  ><span  class="text-info">Init date:</span></span>
                        <input class="form-control"  uib-datepicker-popup="{{format}}"  is-open="popup1.opened" name="initDate" ng-pattern="/^\d{2}-\w{4}-\d{4}$/" datepicker-options="dateOptions" placeholder="" type="text" ng-model="search.initialDate">
                        <span class="input-group-addon"  ><span id="datesearchInit" class="fa fa-calendar" ng-click="open1()"   ></span></span>

                    </div>
                    <span   class="error-message text-danger" ng-show="myform.initDate.$dirty && myform.initDate.$invalid"><h5 style="text-decoration-color:#f1a417;background: #afd9ee">Init date field should be date</h5></span>

                    <div class=" input-group date" >
                        <span class="input-group-addon"  ><span  class="text-info">End date:</span></span>
                        <input class="form-control" uib-datepicker-popup="{{format}}" name="endDate" ng-pattern="/^\d{2}-\w{4}-\d{4}$/" is-open="popup2.opened" datepicker-options="dateOptions" placeholder="" type="text" ng-model="search.endDate">
                        <span class="input-group-addon"  ><span id="datesearchEnd" class="fa fa-calendar" ng-click="open2()"   ></span></span>

                    </div>
                    <span   class="error-message text-danger" ng-show="myform.endDate.$dirty && myform.endDate.$invalid"><h5 style="text-decoration-color:#f1a417;background: #afd9ee">End date field should be date</h5></span>

                </div>
                 <div>
                    <label style="width: 50px; color: #000066">Price: </label>
                    <input class="form-control" placeholder="" name="phoneNumber" type="number"  ng-pattern="/^\d{1,5}$/" ng-model="initialPrice">
                   <span   class="error-message text-danger" ng-show="myform.phoneNumber.$dirty && myform.phoneNumber.$invalid"><h5 style="text-decoration-color:#f1a417;background: #afd9ee">Price field should be of 5 digits</h5></span>
                </div>
            </div>
                </form>

        </div>

    </div>
    <div class="row col-sm-8 col-xs-8 col-lg 8">


    </div>
    <div class="row col-sm-8 col-xs-8 col-lg 8">
    </div>
   </div>

    <div class="container ">
    <div class="row">
        <div class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
            <div class="panel-heading">
                <h4 class="panel-title" ;  style="color:#000066 ">
                    Filter and order results by :
                </h4>
            </div>
            <div class="panel-body" style="text-align: left"  style="color:#000066 " >
                <div class="btn-group pull-left">
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'" ng-click="sortType = 'price'; sortReverse = !sortReverse; updateSort()" >Price</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'" ng-click="sortType = 'city'; sortReverse = !sortReverse; updateSort()">City</label>
                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'" ng-click="sortType = 'date'; sortReverse = !sortReverse; updateSort()">Date</label>
                </div>
            </div>
        </div>
        </div>

    </div>
      </div>


        <div class="container container-fluid">
            <div class="row">
                <div align="right" style="color:#000066">
                    <ul   uib-pagination boundary-links="true" items-per-page="app.itemPerPage" total-items="app.totalItems" ng-click="getPagableRecords()" ng-model="app.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <ul class="list-group">
                    <div>

                    <li class="list-group-item"  ng-repeat="iformation in formations | filter:criteriaList | orderBy:sortType ">
                        <div class="row">

                                <div class="col-lg-2 col-sm-2">
                                    <p class="text-info text-primary">{{iformation.name}}</p>
                                </div>

                        </div>
                        <div class="row">
                            <div class="row col-sm-4 col-xs-4 col-lg 4">

                            <div class="info-stage">
                                <div class="nom-ville">
                                   City:  {{iformation.city}}</div>

                                <div class="adresse" title="{{iformation.address}}">
                                    <p >Adress: {{iformation.address}}</p></div>
                            </div>
                            </div>
                            <div class="row col-sm-4 col-xs-4 col-lg 4">
                                <div class="text-center proximite pcolorbox">
                                    <a href="" ng-click="searchPlusInformation(iformation.id)" rel="nofollow" class="popup-fiche cboxElement">
                                        <div class="icons puce-active pcolorbox"></div>



                                        <div ng-controller="ModalDemoCtrl">
                                            <script type="text/ng-template" id="myModalContent.html">
                                                <div class="modal-header">
                                                    <h3 class="modal-title">Formation Center: {{items.name}}</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <ul>
                                                        <!--<li ng-repeat="item in items">-->
                                                        <li>  <a href="#" ng-click="$event.preventDefault(); selected.item = items.address">Address: {{ items.address }}</a> </li>
                                                         <li>   <a href="#" ng-click="$event.preventDefault(); selected.item = items.phoneNumber">Phone: {{ items.phoneNumber }}</a></li>
                                                        <li> <a href="#" ng-click="$event.preventDefault(); selected.item = items.email">Email: {{ items.email }}</a></li>
                                                       <!--</li>-->
                                                    </ul>
                                                    <!--Selected: <b>{{ selected.item }}</b>-->
                                                </div>
                                                <div class="modal-footer">
                                                    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
                                                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                                </div>
                                            </script>
                                            <div class="plus-info pcolorbox" ng-click="openFormationCenterInfo( iformation.name)">+d'info</div>
                                           <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
                                            <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
                                            <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
                                            <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
                                            <div ng-show="selected">Selection from a modal: {{ selected }}</div>-->
                                        </div>
                                    </a>
                                </div>
                            <div class="date text-center">
                                Date:
                                <div title="{{iformation.dates[0].date}}">{{iformation.dates[0].date}}</div>

                                <!--<div title="Lundi 18 et Mardi 19 Juillet 2016">
                                    <div class="date-bloc">
                                        <span class="day-of-week">Lun</span>
                                        <span class="day">18</span>
                                        <span class="month">Juil</span>
                                    </div>
                                    <div class="date-bloc">
                                        <span class="day-of-week">Mar</span>
                                        <span class="day">19</span>
                                        <span class="month">Juil</span>
                                    </div>
                                </div>-->
                                <div class="places-dispo">Places disponibles : {{iformation.maxPeople}}</div>

                            </div>
                            </div>
                            <div class="row col-sm-4 col-xs-4 col-lg 4">
                            <div class="prix text-right" >
                                <span class="label label-default label-pill label-danger pull-right">{{iformation.price}} €</span>
                                <!--<span class="prix-normal"></span>-->
                            </div>

                            <div  class="reserver text-center pull-right">
                               <button class="btn btn-default" href=""   ng-click="formationBook(iformation.id)" title="">S'inscrire</button>
                            </div>

<!--                            <div class="hide">
                                <span class="lieu_id">3604</span>
                                &lt;!&ndash;Rich Snippets&ndash;&gt;
                                <div itemscope="" itemtype="http://schema.org/Event">
                                    <a itemprop="url" href="https://www.permisapoints.fr/stage-recuperation-points-angers-49000-proche.html">
                                        <span itemprop="name" class="summary">STAGE a  180 €</span>
                                    </a>
                                    <span itemprop="startDate" class="dtstart" content="2016-07-18T08h15:00Z">2016-07-18T08h15:00Z</span>
                                    <span itemprop="endDate" content="2016-07-19T17h00:00Z">2016-07-19T17h00:00Z</span>
                                    <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <span itemprop="name">AFA</span>
                                        <span class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="streetAddress">{{formationcenter.adress}}</span>
                                            <span itemprop="addressLocality">{{formationcenter.city}}</span>
                                            <span itemprop="postalCode">{{formationcenter.zipCode}}</span>
                                        </span>
                                    </span>

                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <span itemprop="price">{{iformation.price}} €</span>
                                    </span>

                                </div>
                                &lt;!&ndash;End Rich Snippets&ndash;&gt;
                            </div>-->
                            </div>
                        </div>
                    </li>

                    </div>
                    <!--<li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li> <li class="list-group-item">
                    <span class="label label-default label-pill pull-right">14</span>
                    Cras justo odio
                </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>


                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default label-pill pull-right">1</span>
                        Morbi leo risus
                    </li>-->

                </ul>
                 <!--<div style="float: right; margin: 15px">
                    <pre>Page: {{app.currentPage}} / {{app.totalItems}}</pre>
                </div>-->
                <div align="right" style="color:#000066">
                    <ul   uib-pagination boundary-links="true" items-per-page="app.itemPerPage" total-items="app.totalItems" ng-click="getPagableRecords()" ng-model="app.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    <!-- <uib-pagination items-per-page="app.itemPerPage" num-pages="numPages"
                                     total-items="app.totalItems" boundary-link-numbers="true"
                                     ng-model="app.currentPage" rotate="false" max-size="app.maxSize"
                                     class="pagination-sm" boundary-links="true"
                                     ng-click="getPagableRecords()"></uib-pagination>-->
                </div>
            </div>
            <div class="row">

            </div>
     </div>
    <!-- search formations list -->

</div>
</div>