<div class="container well" id="createContainer">
    <div class="row">
        <div class="col">
            <h2 class="text-center">{{'CREATE_FORMATION_CENTER' | translate}}</h2>
        </div>
    </div>

    <br/>
    <!-- CREATE FORMATION CENTER FORM  -->
    <form class="form-horizontal" name="createFCform" id="createFCform">
        <div class="row">
            <div class="form-group">
                <label class="col-xs-4 control-label" for="name">{{'NAME' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="name"
                           name="name"
                           minlength="2"
                           ng-model="formationcenter.name"
                           ng-pattern="nameRegExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.name.$dirty && createFCform.name.$invalid">
                        <span ng-show="createFCform.name.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.name.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="defaultLogin">{{'DEFAULT_USERNAME' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="defaultLogin"
                           name="defaultLogin"
                           minlength="2"
                           ng-model="formationcenter.defaultLogin"
                           ng-pattern="usernameExpReg"
                           required/>
                    <span style="color:#cc0000"
                          ng-show="createFCform.defaultLogin.$dirty && createFCform.defaultLogin.$invalid">
                        <span ng-show="createFCform.defaultLogin.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.defaultLogin.$error.minlength">{{'AT_LEAST_2_CHARACTERS' | translate}}</span>
                        <span ng-show="createFCform.defaultLogin.$error.pattern">{{'INVALID_USERNAME' | translate}}</span>
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="address">{{'ADDRESS' | translate}}</label>
                <div class="col col-xs-7">
                    <input class="form-control" type="text"
                           maxlength="80"
                           id="address"
                           name="address"
                           minlength="4"
                           ng-model="formationcenter.address"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.address.$dirty && createFCform.address.$invalid">
                        <span ng-show="createFCform.address.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.address.$error.minlength">{{'PASSWORD_MIN' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="email">{{'EMAIL' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="email"
                           name="email"
                           minlength="5"
                           ng-model="formationcenter.email"
                           ng-pattern="emailRedExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.email.$dirty && createFCform.email.$invalid">
                        <span ng-show="createFCform.email.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.email.$error.pattern">{{'INVALID_EMAIL' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="zipcode">{{'ZIPCODE' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="5"
                           id="zipcode"
                           name="zipcode"
                           ng-model="formationcenter.zipCode"
                           ng-pattern="zipcodeRegExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.zipcode.$dirty && createFCform.zipcode.$invalid">
                        <span ng-show="createFCform.zipcode.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.zipcode.$error.pattern">{{'ZIPCODE_ERROR' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="city">{{'CITY' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="city"
                           name="city"
                           minlength="2"
                           ng-pattern="nameRegExp"
                           ng-model="formationcenter.city"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.city.$dirty && createFCform.city.$invalid">
                        <span ng-show="createFCform.city.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.city.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label" for="phonenumber">{{'PHONE_NUMBER' | translate}}</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="10"
                           id="phonenumber"
                           name="phonenumber"
                           ng-model="formationcenter.phoneNumber"
                           ng-pattern="phoneRegExp"
                           required/>
                    <span style="color:#cc0000"
                          ng-show="createFCform.phonenumber.$dirty && createFCform.phonenumber.$invalid">
                        <span ng-show="createFCform.phonenumber.$error.required">{{'REQUIRED_FIELD' | translate}}</span>
                        <span ng-show="createFCform.phonenumber.$error.pattern">{{'PHONE_NUMBER_ERROR' | translate}}</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4"></label>
                <div class="col col-xs-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formationcenter.isActivated"> {{'ACTIVATED' | translate}}
                    </label>
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"
                            ng-click="createFormationCenter()"
                            ng-disabled="createFCform.$invalid">
                        {{'CREATE' | translate}}
                    </button>

                    <button type="button" class="btn btn-info btn-block"
                            ng-click="gotoToFormationCenters()">
                        {{'GO_BACK' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- END OF CREATE FORMATION CENTER FORM  -->
</div>