<div class="container well" id="createContainer">
    <div class="row">
        <div class="col col-xs-1 clearfix">

        </div>
        <div class="col col-xs-10">
            <div class="page-header">
                <h2 class="text-center">Create Formation Center</h2>
            </div>
        </div>
        <div class="col col-xs-1">

        </div>
    </div>

    <!-- CREATE FORMATION CENTER FORM  -->
    <div class="row">
        <form class="form-horizontal" name="createFCform" id="createFCform">
            <div class="form-group">
                <label class="col-xs-3 control-label" for="name">Name</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="name"
                           name="name"
                           minlength="2"
                           ng-model="formationcenter.name"
                           ng-pattern="nameRegExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.name.$dirty && createFCform.name.$invalid">
                        <span ng-show="createFCform.name.$error.required">Name is required.</span>
                        <span ng-show="createFCform.name.$error.pattern">Only letters. At least two characters.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="defaultLogin">Default Username</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="defaultLogin"
                           name="defaultLogin"
                           minlength="2"
                           ng-model="formationcenter.defaultLogin"
                           ng-pattern="usernameExpReg"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.defaultLogin.$dirty && createFCform.defaultLogin.$invalid">
                        <span ng-show="createFCform.defaultLogin.$error.required">Default username is required.</span>
                        <span ng-show="createFCform.defaultLogin.$error.minlength">Enter at least two characters.</span>
                        <span ng-show="createFCform.defaultLogin.$error.pattern">Invalid characters.</span>
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="address">address</label>
                <div class="col col-xs-8">
                    <input class="form-control" type="text"
                           maxlength="80"
                           id="address"
                           name="address"
                           minlength="4"
                           ng-model="formationcenter.address"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.address.$dirty && createFCform.address.$invalid">
                        <span ng-show="createFCform.address.$error.required">Address is required.</span>
                        <span ng-show="createFCform.address.$error.minlength">At least 4 characters.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="email">Email</label>
                <div class="col col-xs-5">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="email"
                           name="email"
                           minlength="5"
                           ng-model="formationcenter.email"
                           ng-pattern="emailRedExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.email.$dirty && createFCform.email.$invalid">
                        <span ng-show="createFCform.email.$error.required">Email is required.</span>
                        <span ng-show="createFCform.email.$error.pattern">Invalid email pattern.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="zipcode">Zipcode</label>
                <div class="col col-xs-4">
                    <input class="form-control" type="text"
                           maxlength="5"
                           id="zipcode"
                           name="zipcode"
                           ng-model="formationcenter.zipCode"
                           ng-pattern="zipcodeRegExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.zipcode.$dirty && createFCform.zipcode.$invalid">
                        <span ng-show="createFCform.zipcode.$error.required">Zipcode is required.</span>
                        <span ng-show="createFCform.zipcode.$error.pattern">Invalid pattern. Enter 5 digits.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="city">City</label>
                <div class="col col-xs-6">
                    <input class="form-control" type="text"
                           maxlength="40"
                           id="city"
                           name="city"
                           minlength="2"
                           ng-pattern="nameRegExp"
                           ng-model="formationcenter.city"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.city.$dirty && createFCform.city.$invalid">
                        <span ng-show="createFCform.city.$error.required">City is required.</span>
                        <span ng-show="createFCform.city.$error.pattern">Only letters.</span>
                        <span ng-show="createFCform.city.$error.minlength">At list 2 characters.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label" for="phonenumber">Phone Number</label>
                <div class="col col-xs-4">
                    <input class="form-control" type="text"
                           maxlength="10"
                           id="phonenumber"
                           name="phonenumber"
                           ng-model="formationcenter.phoneNumber"
                           ng-pattern="phoneRegExp"
                           required/>
                    <span style="color:#cc0000" ng-show="createFCform.phonenumber.$dirty && createFCform.phonenumber.$invalid">
                        <span ng-show="createFCform.phonenumber.$error.required">Phonenumber is required.</span>
                        <span ng-show="createFCform.phonenumber.$error.pattern">Enter 10 digits starting with '0'.</span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3"></label>
                <div class="col col-xs-3">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formationcenter.isActivated"> Activated
                    </label>
                </div>
            </div>
        </form>
    </div>
    <!-- END OF CREATE FORMATION CENTER FORM  -->
    <br>
    <div class="row">
        <div class="col col-xs-2">

        </div>
        <div class="col-xs-8">
            <div class="form-group">
                <!--<div class="col col-xs-6 col-xs-offset-1">-->
                <button type="submit" class="btn btn-primary btn-block"
                        ng-click="createFormationCenter()"
                        ng-mouseenter="checkAll()"
                        ng-mouseleave="closeAll()"
                        ng-disabled="createFCform.$invalid">
                    Create Formation Center
                </button>
                <!--</div>-->
            </div>
            <div class="form-group">
                <!--<div class="col col-xs-6 col-xs-offset-1">-->
                <button type="button" class="btn btn-info btn-block"
                        ng-click="gotoToFormationCenters()">
                    Back to Formation Centers
                </button>
                <!--</div>-->
            </div>
        </div>
        <div class="col col-xs-2">

        </div>
    </div>

</div>