<div class="container well">
    <div class="row">
        <div class="col col-xs-1">

        </div>
        <div class="col col-xs-10">
            <div class="page-header">
                <h1><p class="text-center">{{'FORMATION_CENTERS' | translate}}</p></h1>
                <h4><p class="text-center">{{'FORMATION_CENTER_ADMIN_DESCRIPTION' | translate}}</p></h4>
            </div>
        </div>
        <div class="col col-xs-1">

        </div>
    </div>

    <!-- CREATE NEW FC AREA -->
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label"><strong>{{'CREATE_FORMATION_CENTER' | translate}}</strong></label>
                <div class="col col-xs-1">
                    <button type="button"
                            ng-click="gotoCreateFormatioCenter()"
                            class="btn btn-info btn-sm">{{'CREATE' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- END CREATE NEW FC AREA -->

    <br>

    <!-- FILTER AREA -->
    <div class="row" ng-show="showFormationCenter">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label" for="criteria"><strong>{{'SEARCH_FORMATION_CENTERS' | translate}}</strong></label>
                <div class="col col-xs-4">
                    <input type="text" class="form-control" id="criteria" ng-model="criteria">
                </div>
            </div>
        </form>
    </div>
    <!-- END FILTER AREA-->

    <br>

    <!-- INITIAL PAGINATION -->
    <div class="row"  ng-show="showFormationCenter">
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchFormationCenters()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>
    <!-- END INITIAL PAGINATION -->

    <!-- DISPLAY THE FORMATION CENTERS  -->
    <div class="row">
        <div class="col col-xs-12">
            <div ng-show="!showFormationCenter">
                <div class="alert alert-danger" role="alert">{{'NOTHING_TO_SHOW' | translate}}</div>
            </div>

            <div class="table-responsive" ng-show="showFormationCenter">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'NAME' | translate}}</th>
                        <th>{{'EMAIL' | translate}}</th>
                        <th>{{'PHONE_NUMBER' | translate}}</th>
                        <th>{{'ZIPCODE' | translate}}</th>
                        <th>{{'CITY' | translate}}</th>
                        <th>{{'ADDRESS' | translate}}</th>
                        <th>{{'ACTIVATED' | translate}}</th>
                        <th>{{'ACTIONS' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,formationCenter) in formationCenters | filter:criteria">
                        <td>{{(currentPage - 1) * len + key + 1}}</td>
                        <td>{{formationCenter.name}}</td>
                        <td>{{formationCenter.email}}</td>
                        <td>{{formationCenter.phoneNumber}}</td>
                        <td>{{formationCenter.zipCode}}</td>
                        <td>{{formationCenter.city}}</td>
                        <td>{{formationCenter.address}}</td>
                        <td>
                            <span class="label label-success" ng-show="formationCenter.isActivated">
                                <span class="glyphicon glyphicon-ok"></span>
                            </span>
                            <span class="label label-danger" ng-show="!formationCenter.isActivated">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-sm btn-primary"
                                    ng-click="editFormationCenter(key)">{{'EDIT' | translate}}
                            </button>
                            <span></span>
                            <button type="button"
                                    class="btn btn-sm btn-danger"
                                    ng-click="deleteFormationCenter(key)">{{'DELETE' | translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END DISPLAY THE FORMATION CENTERS  -->

    <!-- FINAL PAGINATION -->
    <div class="row" ng-show="showFormationCenter">
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen2">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen2">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchFormationCenters()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>
    <!-- END FINAL PAGINATION -->

</div>