<div class="container well" id="updateContainer">
    <div class="row">
        <div class="page-header">
            <h2><p class="text-center">Update Formation Center</p></h2>
        </div>
    </div>

    <div class="row">
        <form class="form" name="updateFCform">
            <div class="form-group">
                <label for="newName">Name</label>
                <input class="form-control" type="text"
                       maxlength="40"
                       id="newName"
                       name="newName"
                       minlength="2"
                       ng-model="formationcenter.name"
                       ng-pattern="nameRegExp"/>
            </div>

            <div class="form-group">
                <label for="newAddress">address</label>
                <input class="form-control" type="text"
                       maxlength="80"
                       id="newAddress"
                       name="newAddress"
                       minlength="4"
                       ng-model="formationcenter.address"/>
            </div>

            <div class="form-group">
                <label for="newEmail">Email</label>
                <input class="form-control" type="text"
                       maxlength="40"
                       id="newEmail"
                       name="newEmail"
                       minlength="5"
                       ng-model="formationcenter.email"
                       ng-pattern="emailRedExp"/>
            </div>

            <div class="form-group">
                <label for="newZipcode">Zipcode</label>
                <input class="form-control" type="text"
                       maxlength="5"
                       id="newZipcode"
                       name="newZipcode"
                       ng-model="formationcenter.zipCode"
                       ng-pattern="zipcodeRegExp"/>
            </div>

            <div class="form-group">
                <label for="newCity">City</label>
                <input class="form-control" type="text"
                       maxlength="40"
                       id="newCity"
                       name="newCity"
                       minlength="2"
                       ng-pattern="nameRegExp"
                       ng-model="formationcenter.city"/>
            </div>

            <div class="form-group">
                <label for="newPhonenumber">Phone Number</label>
                <input class="form-control" type="text"
                       maxlength="10"
                       id="newPhonenumber"
                       name="newPhonenumber"
                       ng-model="formationcenter.phoneNumber"
                       ng-pattern="phoneRegExp"/>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="formationcenter.isActivated"> Activated
                </label>
            </div>


        </form>
    </div>

    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"
                    ng-click="updateFormationCenter()">
                Update Formation Center
            </button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info btn-block"
                    ng-click="gotoToFormationCenters()">
                Back to Formation Centers
            </button>
        </div>
    </div>
</div>