<!DOCTYPE html>
<html ng-app="Backoffice" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Backoffice - Admin Formation Centers">
    <meta name="author" content="Inoid">
    <meta name="keyword" content="Management, Formation Centers, Education, Point recuperation">
    <link rel="shortcut icon" href="img/favicon.icon">

    <title>Backoffice - Management Formation Centers</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet"/>
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <!-- full calendar css-->
    <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet"/>
    <link href="assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet"/>
    <!-- easy pie chart-->
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"
          media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link href="css/widgets.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/xcharts.min.css" rel=" stylesheet">
    <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/lte-ie7.js"></script>
    <![endif]-->
    <style>

        #ng-map-class{
            width: 400px;
            height: 300px;
        }

    </style>
</head>

<body class="login-img3-body" ng-controller="indexController">
<!--ng-show="userAuthenticated"-->
<div class="container" ng-show="userAuthenticated" >
    <section>
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                        class="icon_menu"></i></div>
            </div>

            <!--logo start-->

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1>FORMATIONFINDER</h1>
                </a>
            </div>

            <!--
             <div class="nav search-row" id="top_menu">
                 <!--  search form start -->
            <!--     <ul class="nav top-menu">
                     <li>
                         <form class="navbar-form">
                             <input class="form-control" placeholder="Search" type="text">
                         </form>
                     </li>
                 </ul>
                 <!--  search form end -->
            <!--</div> -->

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start -->
                <ul class="nav pull-right top-menu">

                    <!-- task notificatoin start -->
                    <li id="task_notificatoin_bar"  data-toggle="tooltip"   title="{{'CUSTOMER_TOOLTIP' | translate}}">
                        <a uib-dropdown >
                            <span class="icon-bell-l"></span>
                            <span class="badge bg-important">{{customersize}}</span>
                        </a>

                    </li>
                    <!-- task notificatoin end -->
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar"  data-toggle="tooltip"
                        title="{{'FORMATION_TOOLTIP' | translate}}">
                        <a uib-dropdown >
                            <i class="icon-task-l"></i>
                            <span class="badge bg-important">{{formationsize}}</span>
                        </a>
                    </li>

                    <li class="dropdown" data-toggle="tooltip" title="{{'USER_TOOLTIP' | translate}}">
                        <a uib-dropdown>
                                <span class="profile-ava">
                                    <!--<img alt="" src="img/avatar1_small.jpg">-->
                                    <i class="icon-login-l"></i>
                                </span>
                            <span class="username" style="font-size: large"><strong>{{username}}</strong></span>
                            <div id="single-button-user" uib-dropdown-toggle id="language-menu-1">
                           </div>
                            <ul></ul>
                        </a>

                    </li>
                    <!--<li class="dropdown" data-toggle="tooltip" title="{{'LANGUAGE_TOOLTIP' | translate}}">-->
                        <!--<a uib-dropdown is-open="status.isopenlanguage" id="menu-item-language" href="">-->
                                                       <!--<div id="single-button-language" uib-dropdown-toggle id="language-menu">-->
                                <!--<i class="icon-charts-l"></i>-->
                                <!--<span > {{'LANGUAGE' | translate}}</span>-->
                                <!--<b class="caret"></b>-->
                            <!--</div>-->
                            <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button-language">-->
                                <!--<li >-->
                                    <!--<div class=" input-group ">-->
                                        <!--<span class="text-capitalize text-info" style="margin-left: 5px"-->
                                              <!--for="englishLanguague">English</span>-->
                                        <!--<span id="englishLanguague" class="input-group-addon"><span class=" "-->
                                                                                                    <!--ng-click="changeLanguage('en')"><img-->
                                                <!--src="img/united_states.png"-->
                                                <!--style="height:18px; margin-top:-2px;"></span></span>-->

                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class=" input-group">-->

                                        <!--<span class="text-capitalize text-info" style="margin-left: 5px"-->
                                              <!--for="frenchLanguague">French</span>-->
                                        <!--<span id="frenchLanguague" class="input-group-addon"><span class=" "-->
                                                                                                   <!--ng-click="changeLanguage('fr')"><img-->
                                                <!--src="img/france.png"-->
                                                <!--style="height:18px; margin-top:-2px;"></span></span>-->

                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class=" input-group">-->

                                        <!--<span class="text-info" style="margin-left: 5px"-->
                                              <!--for="spanishLanguague">Spanish</span>-->
                                        <!--<span id="spanishLanguague" class="input-group-addon"><span class=" "-->
                                                                                                    <!--ng-click="changeLanguage('es')"><img-->
                                                <!--src="img/spain1.png"-->
                                                <!--style="height:18px; margin-top:-2px;"></span></span>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</a>-->

                    <!--</li>-->
                    <!-- user login dropdown end -->

                    <!--<li class="" data-toggle="tooltip"   title="{{'GEOSEARCH_TOOLTIP' | translate}}">-->
                        <!--<a href="" uib-dropdown is-open="status.isopen" id="menu-item">-->

                            <!--<div id="single-button" uib-dropdown-toggle id="map-menu">-->
                                <!--<i class="icon-map-l"></i>-->
                                <!--<span > {{'GEOSEARCH'| translate}}</span>-->
                                <!--<b class="caret"></b>-->
                            <!--</div>-->

                            <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                                <!--<li>-->
                                    <!--<div class=" input-group ">-->

                                        <!--<label class="text-info" for="showall">Search all places</label>-->
                                        <!--<span id="showall" class="input-group-addon"><span class="fa fa-search "-->
                                                                                           <!--ng-click="searchAllPlaces($event)"></span></span>-->

                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li>-->
                                    <!--<div id="ng-map-class">-->
                                        <!--<ng-map  zoom="4" center="48.864716, 2.349014" on-center-changed="centerChanged()" on-click="click()">-->
                                        <!--<marker position="48.864716, 2.349014"  title="Click to zoom"></marker>-->
                                        <!--<div ng-repeat="iformationcenter in formationcenters">-->
                                        <!--<div ng-repeat="iplace in iformationcenter.places">-->
                                        <!--<marker position="{{iplace.latitude}}, {{iplace.longitude}}"  title="Click to zoom"></marker>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--</ng-map>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="dropdown" data-toggle="tooltip" title="{{'LOGOUT_USER' | translate}}">
                        <a href="#" ng-click="logout()">
                            <i class=" fa fa-sign-out"></i>
                                <!--<span class="">-->
                                </span>
                            <span class="username">{{'LOGOUT' | translate}}</span>
                        </a>
                    </li>
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
    </section>
</div>

<div ng-show="userAuthenticated">
    <!--sidebar start-->
    <br/>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu">

                <li data-toggle="tooltip" title="{{'FORMATION_CENTER_TEXT'| translate}}"><a href="" class="" >
                    <span class="text-info"><strong>{{formationCenter}}</strong> </span>
                </a></li>
                <li class="sub-menu ">
                    <a  href="#/login/admin" class="">
                        <i class="icon_cloud"></i>
                        <span>Credentials</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                        <!--<li><a class="" href="#/login/admin">Managment</a></li>-->
                    <!--</ul>-->
                </li>
              <li class="sub-menu">
                    <a href="#/alert/list"   data-target="#alert/list"  class="">
                        <i class="icon_documents_alt"></i>
                        <span>Alerts</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                        <!--<li><a class="" href="profile.html">Add Operator</a></li>-->
                        <!--<li><a class="" href="loginsave.html"><span>Edit Operator</span></a></li>-->
                    <!--</ul>-->
                </li>
                <li class="sub-menu">
                    <a href="#/bill/list" data-target="#bill/list"  class="">
                        <i class="icon_wallet"></i>
                        <span>Bills</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                        <!--<li><a class="" href="#/banck/edit" data-target="#banck/edit">Bank Account</a></li>-->
                        <!--<li><a class="" href="#/bill/list" data-target="#banck/edit"><span></span>View Bills</a></li>-->
                    <!--</ul>-->
                </li>
                <li class="sub-menu">
                    <a  href="#/formation/admin" class="">
                        <i class="social_share"></i>
                        <span>Formations</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                        <!--<li><a class="" href="#/formation/admin">Managment</a></li>-->
                    <!--</ul>-->

                </li>
                <li class="sub-menu">
                    <a  href="#/animator/manage" class="">
                        <i class="icon_genius"></i>
                        <span>Animators</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                        <!--<li><a class="">Managment</a></li>-->
                    <!--</ul>-->
                </li>
                <li class="sub-menu">
                    <a href="#/place/listdata" data-target="#place/listdata" class="">
                        <i class="icon_map"></i>
                        <span>Places</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                    <!--<ul class="sub">-->
                    <!--<li><a class="" href="#/place/edit" data-target="#place/edit">Add Place</a></li>-->
                    <!--<li><a class="" href="#/place/listdata" data-target="#place/listdata"><span></span>View-->
                    <!--Place</a></li>-->
                    <!--</ul>-->
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
</div>

<div class="container" id="detailContainer">
    <div ng-view>

    </div>
</div>
<!-- container section start -->

<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<!-- charts scripts -->
<script src="assets/jquery-knob/js/jquery.knob.js"></script>
<script src="js/jquery.sparkline.js" type="text/javascript"></script>
<script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="js/owl.carousel.js"></script>
<!-- jQuery full calendar -->
<
<script src="js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
<!--script for this page only-->
<script src="js/calendar-custom.js"></script>
<script src="js/jquery.rateit.min.js"></script>
<!-- custom select -->
<script src="js/jquery.customSelect.min.js"></script>
<script src="assets/chart-master/Chart.js"></script>

<!--custome script for all page-->
<script src="js/scripts.js"></script>
<!-- custom script for this page-->
<script src="js/sparkline-chart.js"></script>
<script src="js/easy-pie-chart.js"></script>
<script src="js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="js/jquery-jvectormap-world-mill-en.js"></script>
<script src="js/xcharts.min.js"></script>
<script src="js/jquery.autosize.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/gdp-data.js"></script>
<script src="js/morris.min.js"></script>
<script src="js/sparklines.js"></script>
<script src="js/charts.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>


<!--New -->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-resource.min.js"></script>
<script src="js/angular/angular-route.min.js"></script>
<script src="js/angular/angular-cookies.min.js"></script>
<script src="js/angular/angular-animate.min.js"></script>
<script src="js/ng-map.min.js"></script>
<!--<script src="js/angular/angular-sanitize.js"></script>-->
<script src="js/angular/angular-translate.js"></script>
<script src="js/angular/rzslider.min.js"></script>
<script src="js/angular/angular-datepicker.min.js"></script>
<script src="js/angular/checklist-model.js"></script>

<script src="js/ui-bootstrap-tpls-2.0.0.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhbZEULLv5kcXwrA_xrlYS8JU2QjyrjO8"></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=initMap&signed_in=true&key=AIzaSyAhbZEULLv5kcXwrA_xrlYS8JU2QjyrjO8" async defer></script>-->
<script src="js/ng-map.min.js"></script>
<!--MyAPP Scripts -->
<script src="js/formationfinder/config.js"></script>
<script src="js/formationfinder/app.js"></script>
<script src="js/formationfinder/routes.js"></script>
<script src="js/formationfinder/language.js"></script>
<script src="js/formationfinder/services.js"></script>
<script src="js/formationfinder/controllers.js"></script>

<script>

    //knob
    $(function () {
        $(".knob").knob({
            'draw': function () {
                $(this.i).val(this.cv + '%')
            }
        })
    });

    //carousel
    $(document).ready(function () {
        $("#owl-slider").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

        });
    });

    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

    /* ---------- Map ---------- */
    $(function () {
        $('#map').vectorMap({
            map: 'world_mill_en',
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#000', '#000'],
                    normalizeFunction: 'polynomial'
                }]
            },
            backgroundColor: '#eef3f7',
            onLabelShow: function (e, el, code) {
                el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
            }
        });
    });

    $(function () {
        $('[data-togle="tooltips"]').tooltip();
    });

</script>
<script type="text/ng-template" id="myModalMessage.html">
    <div class="modal-header">
        <h3 class="modal-title">{{items.type}}</h3>
    </div>
    <div class="modal-body">
        <h3>{{items.message}}</h3>

        <!--Selected: <b>{{ selected.item }}</b>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">
            {{'CLOSE' | translate}}
        </button>
    </div>
    </div>
</script>
</body>
</html>
