<div class="container well manage" id="createAnimatorContainer">
    <div class="row">
        <h2 class="text-center">Create Animator</h2>
    </div>

    <div class="row">
        <div class="col">
            <form class="form" name="createAnimForm" id="createAnimForm">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           ng-model="animator.name"
                           required
                           maxlength="30"
                           ng-pattern="nameRegExp"
                           minlength="2"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="createAnimForm.name.$dirty && createAnimForm.name.$invalid">
                        <span ng-show="createAnimForm.name.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createAnimForm.name.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstname">First Name</label>
                    <input type="text"
                           id="firstname"
                           name="firstname"
                           required
                           ng-model="animator.firstName"
                           ng-pattern="nameRegExp"
                           maxlength="30"
                           class="form-control"/>
                    <span style="color:#cc0000"
                          ng-show="createAnimForm.firstname.$dirty && createAnimForm.firstname.$invalid">
                        <span ng-show="createAnimForm.firstname.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createAnimForm.firstname.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="type">Type</label>
                    <select id="type" ng-model="animator.type" class="form-control">
                        <option value="PSY">Psychologist</option>
                        <option value="BAFM">BAFM/BAFCRI</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="city">City</label>
                    <input type="text"
                           id="city"
                           name="city"
                           required
                           ng-model="animator.city"
                           ng-pattern="nameRegExp"
                           maxlength="30"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="createAnimForm.city.$dirty && createAnimForm.city.$invalid">
                        <span ng-show="createAnimForm.city.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createAnimForm.city.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="zipcode">Zipcode</label>
                    <input type="text"
                           id="zipcode"
                           name="zipcode"
                           ng-model="animator.zipCode"
                           required
                           ng-pattern="zipcodeRegExp"
                           maxlength="5"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="createAnimForm.zipcode.$dirty && createAnimForm.zipcode.$invalid">
                        <span ng-show="createAnimForm.zipcode.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="createAnimForm.zipcode.$error.pattern">{{'ZIPCODE_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <button ng-disabled="createAnimForm.$invalid"
                            ng-click="createAnimator()"
                            type="submit"
                            class="btn btn-primary btn-block">Create Animator
                    </button>

                    <button ng-click="gotoManageAminator()"
                            type="button"
                            class="btn btn-info btn-block">Go to Animators
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>