<div class="container well manage" id="updateAnimatorContainer">
    <div class="row">
        <h2 class="text-center">{{'EDIT_ANIMATOR' | translate}}</h2>
    </div>

    <div class="row">
        <div class="col">
            <form class="form" name="editAnimForm" id="editAnimForm">
                <div class="form-group">
                    <label class="control-label" for="name">{{'NAME' | translate}}</label>
                    <input type="text"
                           id="name"
                           name="name"
                           ng-model="animator.name"
                           ng-change="checkParameters()"
                           required
                           maxlength="30"
                           minlength="2"
                           ng-pattern="nameRegExp"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="editAnimForm.name.$dirty && editAnimForm.name.$invalid">
                        <span ng-show="editAnimForm.name.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="editAnimForm.name.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstname">{{'FIRST_NAME' | translate}}</label>
                    <input type="text"
                           id="firstname"
                           name="firstname"
                           required
                           ng-model="animator.firstName"
                           ng-change="checkParameters()"
                           ng-pattern="nameRegExp"
                           maxlength="30"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="editAnimForm.firstname.$dirty && editAnimForm.firstname.$invalid">
                        <span ng-show="editAnimForm.firstname.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="editAnimForm.firstname.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>

                <div class="form-group">
                    <label class="control-label" for="type">{{'TYPE' | translate}}</label>
                    <select id="type" ng-model="animator.type" class="form-control">
                        <option value="PSY">{{'PSYCHOLOGIST' | translate}}</option>
                        <option value="BAFM">BAFM/BAFCRI</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="city">{{'CITY' | translate}}</label>
                    <input type="text"
                           id="city"
                           name="city"
                           required
                           ng-model="animator.city"
                           ng-change="checkParameters()"
                           ng-pattern="nameRegExp"
                           maxlength="30"
                           minlength="2"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="editAnimForm.city.$dirty && editAnimForm.city.$invalid">
                        <span ng-show="editAnimForm.city.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="editAnimForm.city.$error.pattern">{{'NAME_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="zipcode">{{'ZIPCODE' | translate}}</label>
                    <input type="text"
                           id="zipcode"
                           name="zipcode"
                           required
                           ng-model="animator.zipCode"
                           ng-change="checkParameters()"
                           ng-pattern="zipcodeRegExp"
                           maxlength="5"
                           class="form-control"/>
                    <span style="color:#cc0000" ng-show="editAnimForm.zipcode.$dirty && editAnimForm.zipcode.$invalid">
                        <span ng-show="editAnimForm.zipcode.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                        <span ng-show="editAnimForm.zipcode.$error.pattern">{{'ZIPCODE_ERROR' | translate}}</span>
                    </span>
                </div>
                <div class="form-group">
                    <button ng-disabled="invalidParameters"
                            ng-click="editAnimator()"
                            type="submit"
                            class="btn btn-primary btn-block">{{'UPDATE' | translate}}
                    </button>
                    <button ng-click="gotoManageAminator()"
                            type="button"
                            class="btn btn-info btn-block">{{'GO_BACK' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/ng-template" id="ModalConfirmMessage.html">
        <div class="modal-header">
            <h3 class="modal-title">{{items.messageType}}</h3>
        </div>
        <div class="modal-body">
            <h4>{{ items.message}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'ACCEPT' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'CANCEL' | translate}}
            </button>
        </div>
    </script>
</div>