<div class="manage container well" id="manage-animator">
    <div class="row">
        <form>
            <h4>Search Animators in the list</h4>
            <div class="form-group">
                <div class="col-sm-5">
                    <input class="form-control"
                           type="text"
                           ng-model="criteria"/>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label class="control-label col-sm-4" for="">Create Animator
                    <button class="btn btn-xs btn-info" ng-click="gotoCreateAnimator()">
                        Create
                    </button>
                </label>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Type</th>
                    <th>City</th>
                    <th>zipCode</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,animator) in animators | filter:criteria">
                    <td>{{key + 1}}</td>
                    <td>{{animator.name}}</td>
                    <td>{{animator.firstName}}</td>
                    <td>{{animator.type}}</td>
                    <td>{{animator.city}}</td>
                    <td>{{animator.zipCode}}</td>
                    <td>
                        <input type="button" class="btn btn-sm btn-success" value="Edit"
                               ng-click="editAnimator(key)"/>
                        <span></span>
                        <input type="button" class="btn btn-sm btn-danger" value="Delete"
                               ng-click="deleteAnimator(key)"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>