<div class="manage container well" id="manage-animator">
    <div class="row">
        <h2 class="text-center">{{'ADMIN_ANIMATORS' | translate}}</h2>
        <form>
            <h4>{{'SEARCH_ANIMATOR_IN_LIST' | translate}}</h4>
            <div class="form-group">
                <div class="col-sm-5">
                    <input class="form-control"
                           type="text"
                           ng-model="criteria"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label class="control-label col-sm-4">{{'CREATE_ANIMATOR' | translate}}
                    <button class="btn btn-xs btn-info" ng-click="gotoCreateAnimator()">
                        {{'CREATE' | translate}}
                    </button>
                </label>
            </div>
        </form>
    </div>

    <div class="row">

        <div ng-show="!(animators.length > 0)">
            <div class="alert alert-danger" role="alert">{{'NOTHING_TO_SHOW' | translate}}</div>
        </div>

        <div class="table-responsive" ng-show="(animators.length > 0)">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{'NAME' | translate}}</th>
                    <th>{{'FIRST_NAME' | translate}}</th>
                    <th>{{'TYPE' | translate}}</th>
                    <th>{{'CITY' | translate}}</th>
                    <th>{{'ZIPCODE' | translate}}</th>
                    <th>{{'ACTIONS' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,animator) in animators | filter:criteria">
                    <td>{{key + 1}}</td>
                    <td>{{animator.name}}</td>
                    <td>{{animator.firstName}}</td>
                    <td>{{animator.type}}</td>
                    <td>{{animator.city}}</td>
                    <td>{{animator.zipCode}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" ng-click="editAnimator(key)">
                            {{'EDIT' | translate}}
                        </button>
                        <span></span>
                        <button type="button" class="btn btn-sm btn-danger" value="Delete" ng-click="deleteAnimator(key)">
                            {{'DELETE' | translate}}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>