<div class="manage container well" id="manage-animator">
    <div class="row">
        <h2 class="text-center">{{'ADMIN_ANIMATORS' | translate}}</h2>
        <br/>
        <form>
            <h4>{{'SEARCH_ANIMATOR_IN_LIST' | translate}}</h4>
            <div class="form-group">
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control"
                               type="text"
                               ng-model="criteria"/>
                        <span class="input-group-addon" ng-click="clearCriteria()" data-toggle="tooltip" title="{{'CLEAR_FILTER' | translate}}">
                            <span class="glyphicon glyphicon-erase"></span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="row">
        <form>
            <div class="form-group">
                <label class="control-label col-sm-4">{{'CREATE_ANIMATOR' | translate}}
                    <button class="btn btn-xs btn-info" ng-click="gotoCreateAnimator()">
                        {{'CREATE' | translate}}
                    </button>
                </label>
            </div>
        </form>
    </div>

    <br>

    <!-- INITIAL PAGINATION -->
    <div class="row" ng-show="showAnimators">
        <!-- style="background-color: #dae8ff" -->
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchAnimators()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="showAnimators">

            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'NAME' | translate}}</th>
                        <th>{{'FIRST_NAME' | translate}}</th>
                        <th>{{'TYPE' | translate}}</th>
                        <th>{{'CITY' | translate}}</th>
                        <th>{{'ZIPCODE' | translate}}</th>
                        <th>{{'ACTIONS' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,animator) in animators | filter:criteria">
                        <td>{{(currentPage - 1) * len + key + 1}}</td>
                        <td>{{animator.name}}</td>
                        <td>{{animator.firstName}}</td>
                        <td>{{animator.type}}</td>
                        <td>{{animator.city}}</td>
                        <td>{{animator.zipCode}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="editAnimator(animator)">
                                {{'EDIT' | translate}}
                            </button>
                            <span></span>
                            <button type="button" class="btn btn-sm btn-danger" value="Delete"
                                    ng-click="deleteAnimator(animator)">
                                {{'DELETE' | translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-show="showAnimators">
        <div class="col col-xs-5">
            <label class="label label-primary" for="selectLen2">{{'ITEMS_PER_PAGE' | translate}}</label>
            <select ng-options="iLen for iLen in lens"
                    ng-model="len"
                    ng-value="5"
                    ng-change="itemsPerPageChance()"
                    id="selectLen2">
            </select>
        </div>

        <div class="col col-xs-7">
            <div class="text-right">
                <ul uib-pagination boundary-links="true" items-per-page="len" total-items="maxSize"
                    rotate="false" boundary-link-numbers="true"
                    ng-click="searchAnimators()" ng-model="currentPage" class="pagination-sm" max-size="3"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-show="!showAnimators">
            <div class="alert alert-danger" role="alert">{{'NOTHING_TO_SHOW' | translate}}</div>
        </div>
    </div>

    <script type="text/ng-template" id="ModalConfirmMessage.html">
        <div class="modal-header">
            <h3 class="modal-title">{{items.messageType}}</h3>
        </div>
        <div class="modal-body">
            <h4>{{ items.message}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'ACCEPT' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">
                {{'CANCEL' | translate}}
            </button>
        </div>
    </script>
</div>