<header>

</header>
<div class="searchlist" >
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container centered text-danger" style="font-size: x-large;"  >
        <row>
            <div class="col-lg-3 col-sm-3 hidden-xs"></div>
            <div class="col-lg-6 col-sm-6 ">
                <ul >
                    <li><strong><a href="#/" class="text-danger">Index</a></strong>
                        <ul>
                            <li><a href="#/about" class="text-danger">Testimonies</a></li>
                            <li><a href="#/service" class="text-danger">Services</a></li>
                            <li><a href="#/contact" class="text-danger">Contact</a></li>
                        </ul>

                    </li>
                    <li><strong><a href="#/faq" class="text-danger">Faq</a></strong></li>
                    <li><strong><a href="#/search/undefined" class="text-danger"> Formation´s search</a></strong></li>
                    <li><strong><a href="#/formation/book/undefined" class="text-danger">Make reservation</a></strong></li>
                    <li><strong><a href="#/sitemap" class="text-danger">Sitemap</a></strong></li>

                </ul>
            </div>
        </row>

</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>