<br />
<div class="row">
    <div class="col-sm-9 col-sm-offset-1">

        <div class="form-group">
            <h4>If you like, you cant make an immediate payment using mangopay.</h4>
            <span></span>

                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Payment data: </h3>
                    </div>
                    <div class="modal-body">
                        <form name="paymentdata" class="form-horizontal" role="form" novalidate>
                            <div class="form-group">
                                <label class="control-label " for="number">Card number (*)</label>

                                    <input name="number" id="number"
                                           ng-model="creditCardData.number"
                                           ng-pattern="numberRegExp"
                                           maxlength="12"
                                           class="form-control"
                                           type="text"
                                           required />

        <span style="color:#cc0000" ng-show="paymentdata.number.$dirty && paymentdata.number.$invalid">
            <span ng-show="paymentdata.number.$error.required">Card number is required.</span>
            <span ng-show="paymentdata.number.$error.pattern">You sould provide digit.</span>
        </span>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="dateOfProcuration">Expiration date(*)</label>
                                <div class="input-group date  ident-date">
                                    <input name="dateOfProcuration" id="dateOfProcuration"
                                           ng-model="creditCardData.dateOfExpiration"
                                           class="form-control"
                                           type="text" required
                                           ng-pattern="dateRegExp"
                                           uib-datepicker-popup="{{format}}"
                                           is-open="popupCardCreditDate.opened"
                                           datepicker-options="dateOptions" />
                                    <span class="input-group-addon" ><span id="procDateInit" class="fa fa-calendar" ng-click="openCardCreditDate()"></span></span>
                                </div>
                            </div>
                            <span class="error-message text-danger" ng-show="paymentdata.dateOfProcuration.$dirty && paymentdata.dateOfProcuration.$invalid">You should provide a valid date string.</span>
                            <div class="row">
                                <div class="col-md-9 col-md-offset-1">
                                    <div uib-alert ng-repeat="message in vm.validationMessages" ng-class="'alert-' + message.type" close="vm.closeMessage($index)" dismiss-on-timeout="4000">{{message.info}}</div>
                                </div>
                            </div>
                        </form>
                        <div uib-alert ng-repeat="message in vm.customerFoundMessages"
                             ng-class="'alert-' + message.type">{{message.info}}</div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="ok()">Pay now</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </script>
            <input id="paybutton" class="btn btn-success" type="button" value="Pay data"      ng-click="vm.makePayment()"/>
            <!--ng-disabled="vm.paymentButtonDisabled"-->
        </div>

        <div class="form-group">
            <h5>Olso you can choose another form of payment.</h5>
            <div class="radio">
                <label>
                    <input type="radio" name="payOptions" id="payOptionsCheck" value="payOptionsCheck"> Check
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="payOptions" id="payOptionsVirement" value="payOptionsVirement"> Virement
                </label>
            </div>
        </div>
    </div>
</div>