<div class="container well admin-login">
    <h2 class="text-center">{{'ADMIN_CREDENTIALS' | translate}}</h2>
    <div class="form-group">
        <label class="control-label"> {{'CREATE_CREDENTIAL' | translate}}
            <button class="btn btn-sm btn-info"
                    ng-click="gotoCreate()">
                {{'CREATE' | translate}}
            </button>
        </label>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>{{'USERNAME' | translate}}</th>
                <th>{{'MAIN' | translate}}</th>
                <th>{{'ACTIVATED' | translate}}</th>
                <th>{{'ACTIONS' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,login) in logins">
                <td>{{key + 1}}</td>
                <td>{{login.username}}</td>
                <td>
                    <span class="label label-success" ng-show="login.isMainLogin">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    <span class="label label-danger" ng-show="!login.isMainLogin">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </td>
                <td>
                    <span class="label label-success" ng-show="login.isActivated">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                    <span class="label label-danger" ng-show="!login.isActivated">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" ng-click="editLogin(key)">
                        {{'EDIT' | translate}}
                    </button>
                    <span></span>
                    <span></span>
                    <button type="button" class="btn btn-sm btn-danger" value="Delete" ng-click="deleteLogin(key)">
                        {{'DELETE' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>