<form class="login-form" id="changePasswordForm" name="changePasswordForm">
    <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <h4 class="text-center">{{'CHANGE_PASSWORD' | translate}}</h4>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="{{'USERNAME' | translate}}"
                       name="username"
                       disabled
                       ng-model="username">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group" data-toggle="tooltip" title="{{'INSERT_CURRENT_PASSWORD' | translate}}">
                <span class="input-group-addon"><i class="icon_key"></i></span>
                <input type="password" class="form-control" placeholder="{{'CURRENT_PASSWORD' | translate}}"
                       autofocus
                       maxlength="40"
                       minlength="4"
                       name="currentPassword"
                       ng-change="validateNewPassword()"
                       ng-model="currentPassword"
                       required>
            </div>
            <span style="color:#cc0000"
                  ng-show="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$invalid">
                <span ng-show="changePasswordForm.currentPassword.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
            </span>
        </div>

        <div class="form-group">
            <div class="input-group" data-toggle="tooltip" title="{{'INSERT_NEW_PASSWORD' | translate}}">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="{{'NEW_PASSWORD' | translate}}"
                       maxlength="40"
                       minlength="4"
                       name="newPassword"
                       ng-change="validateNewPassword()"
                       ng-model="newPassword"
                       required>
            </div>
            <span style="color:#cc0000" ng-show="changePasswordForm.newPassword.$dirty
                && changePasswordForm.newPassword.$invalid
                || invalidNewPassword">
                <span ng-show="changePasswordForm.newPassword.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                <span ng-show="changePasswordForm.newPassword.$error.minlength">{{'PASSWORD_MIN' | translate}}.</span>
                <span ng-show="newPasswordEqToCurrentPassword">{{'NEW_PASS_CAN_NOT_BE_EQUAL_TO_CURRENT_PASS' | translate}}.</span>
            </span>
        </div>

        <div class="form-group">
            <div class="input-group" data-toggle="tooltip" title="{{'CONFIRM_NEW_PASSWORD' | translate}}">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="{{'CONFIRM_PASSWORD' | translate}}"
                       maxlength="40"
                       name="confirmPassword"
                       ng-change="validateConfirmPassword()"
                       ng-model="confirmPassword"
                       required>
            </div>
            <span style="color:#cc0000"
                  ng-show="changePasswordForm.confirmPassword.$dirty
                  && changePasswordForm.confirmPassword.$invalid
                  || invalidConfirmPassword">
                <span ng-show="changePasswordForm.confirmPassword.$error.required">{{'REQUIRED_FIELD' | translate}}.</span>
                <span ng-show="confirmPasswordDifferentToNewPassword">{{'CORNFIRMATION_PASS_IS_DIFFERENT' | translate}}.</span>

            </span>
        </div>

        <button class="btn btn-primary btn-lg btn-block"
                type="submit"
                ng-disabled="changePasswordForm.$invalid || invalidNewPassword || invalidConfirmPassword"
                ng-click="changePassword()">{{'CHANGE' | translate}}
        </button>
        <button class="btn btn-info btn-lg btn-block" type="button" ng-click="gotoManage()">
            {{'GO_BACK' | translate}}
        </button>
    </div>
</form>