<form class="login-form" id="updateLoginForm" name="updateLoginForm">
    <div class="login-wrap">
        <h4>Enter new Credential attributes values</h4>
        <div class="input-group" data-toggle="tooltip" title="Insert user´s name">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            <input type="text" class="form-control" placeholder="New Username"
                   autofocus
                   maxlength="40"
                   ng-model="Login.username"
                   ng-pattern="usernameExpReg">
        </div>
        <div class="input-group" data-toggle="tooltip" title="Insert password">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            <input type="password" class="form-control" placeholder="New Password"
                   maxlength="40"
                   minlength="4"
                   ng-model="Login.password">
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input class="checkbox"
                       type="checkbox"
                       ng-model="Login.isMainLogin"> Main
            </label>
            <label class="checkbox-inline">
                <input class="checkbox"
                       type="checkbox"
                       ng-model="Login.isActivated"> Activated
            </label>
        </div>
        <button class="btn btn-primary btn-lg btn-block"
                type="button"
                ng-click="updateLogin()">
            Update
        </button>
        <button class="btn btn-info btn-lg btn-block" type="button" ng-click="gotoManage()">Back to Manage
        </button>
    </div>
</form>