<div class="manage container well" id="waiting-room">

    <div class="row">
        <div class="col col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{'DOCUMENTS' | translate}}</div>

                <div class="panel-body">
                    <button class="btn btn-default btn-block"
                            ng-click="showCourrierTypeMinistere()">
                        {{'COURRIER_TYPE_MINISTERE' | translate}}
                    </button>

                    <button class="btn btn-default btn-block"
                            ng-click="showDemandeInterruption()">
                        {{'DEMANDE_INTERRUPTION' | translate}}
                    </button>

                    <button class="btn btn-default btn-block"
                            ng-click="showDemandeRemboursement()">
                        {{'DEMANDE_REMBOURSEMENT' | translate}}
                    </button>
                </div>

            </div>

        </div>

        <div class="col col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{'LISTE_DES_STAGIAIRES_EN_SALLE_D_ATTENTE' | translate}}
                </div>

                <div class="panel-body">
                    <button class="btn btn-danger btn-block" ng-click="gotoAddCustomerToWaitingRoom()">
                        {{'INSCRIRE_EN_SALLE_D_ATTENTE' | translate}}
                    </button>
                    <button class="btn btn-default btn-block" ng-click="gotoAddCustomers()">
                        {{'ADD_CUSTOMERS_TO_FORMATIONS2' | translate}}
                    </button>
                    <br>

                    <p class="text-center">{{'AUCUN_STAGIAIRE' | translate}}</p>

                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{'STAGIAIRE' | translate}}
                </div>

                <div class="panel-body">
                    <button class="btn btn-default btn-block" ng-click="printWaitingRoomCustomersList()">
                        {{'IMPRIMER_LA_LISTE' | translate}}
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{'CARTE_BANCAIRE' | translate}}
                </div>

                <div class="panel-body">
                    <p class="text-center">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{'PAIMENT_SECURISE' | translate}}
                    </p>

                    <p class="text-center" style="font-size: 12px">
                        {{'CRYPTAGE_SSL' | translate}}
                    </p>

                    <!--Poner las imagenes de las tarjetas de banco-->

                </div>

            </div>
        </div>
    </div>
</div><!-- END PRINCIPAL DIV -->