<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-lg-4 col-xs-12 col-lg-offset-1 col-sm-offset-1  ">
            <form class="login-form" name="createForm">
                <div class="login-wrap-place">
                    <h4>{{ titleformplace }}</h4>

                    <div class="input-group" data-toggle="tooltip" title="Insert user´s name">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control"
                               name="name"
                               placeholder="{{'NAME' | translate}}"
                               uib-typeahead="iplace.name for iplace in places | filter:$viewValue"
                               autofocus
                               maxlength="40"
                               ng-model="place.name"
                               ng-pattern="usernameExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'NAME_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.name.$dirty && createForm.name.$invalid"
                               required>
                    </div>
                    <!--placeholder="{{ if ( place.city != '' ) {place.city} else ('CITY' | translate)}}"-->
                    <div class="input-group" data-toggle="tooltip" title="Insert place´s city">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control"
                               name="city"
                               placeholder="{{'CITY' | translate}}"
                               uib-typeahead="iplace.city for iplace in places | filter:$viewValue"
                               autofocus
                               maxlength="40"
                               ng-model="place.city"
                               ng-pattern="usernameExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'CITY_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.city.$dirty && createForm.city.$invalid"
                               required>
                    </div>

                    <div class="input-group" data-toggle="tooltip" title="Insert place´s address">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control"
                               name="address"
                               placeholder="{{'ADDRESS' | translate}}"
                               uib-typeahead="iplace.address for iplace in places | filter:$viewValue"
                               autofocus
                               maxlength="40"
                               ng-model="place.address"
                               ng-pattern="usernameExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'ADDRESS_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.address.$dirty && createForm.address.$invalid"
                               required>
                    </div>
                    <!--createForm.address.$dirty &&-->

                    <div class="input-group" data-toggle="tooltip" title="Insert number">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                        <input type="text" class="form-control"
                               name="zipcode"
                               placeholder="{{'ZIPCODE' | translate}}"
                               uib-typeahead="iplace.zipcode for iplace in places | filter:$viewValue"
                               autofocus
                               maxlength="5"
                               ng-model="place.zipcode"
                               ng-pattern="numExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'ZIPCODE_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.zipcode.$dirty && createForm.zipcode.$invalid"
                               required>
                    </div>

                    <div class="input-group" data-toggle="tooltip" title="{{'INSERT_NAME'| translate}}">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control"
                               placeholder="{{'AGREMENTNAME' | translate}}"
                               uib-typeahead="iplace.agreementName for iplace in places | filter:$viewValue"
                               name="agreement"
                               autofocus
                               maxlength="40"
                               ng-model="place.agreementName"
                               ng-pattern="usernameExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'AGREMENTNAME_ERROR'| translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.agreement.$dirty && createForm.agreement.$invalid"
                               >
                    </div>

                    <div class="input-group" data-toggle="tooltip" title="Insert number">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                        <input type="text" class="form-control"
                               placeholder="{{'AGREMENTNUMBER' | translate}}"
                               uib-typeahead="iplace.agreementNumber for iplace in places | filter:$viewValue"
                               name="agrementnumber"
                               autofocus
                               maxlength="5"
                               ng-model="place.agreementNumber"
                               ng-pattern="numExpReg"
                               tooltip-placement="top"
                               tooltip-trigger="'none'"
                               uib-tooltip="{{'AGREMENTNUMBER_ERROR' | translate}}"
                               tooltip-class="customClass"
                               tooltip-is-open="createForm.agrementnumber.$dirty && createForm.agrementnumber.$invalid"
                               >
                    </div>

                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input class="checkbox"
                                   type="checkbox"
                                   ng-checked="place.isActivated"
                                   ng-model="place.isActivated"  > Is Activate
                        </label>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block"
                            type="submit"
                            ng-disabled="createForm.$invalid"
                            ng-click="createPlace()">{{'SAVE_BUTTON' | translate}}
                    </button>
                        <button class="btn btn-primary btn-lg btn-block"
                                type="button"

                                ng-click="showAllPlace()">{{'SHOW_ALL_BUTTON' | translate}}
                        </button>

                    <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout=3000
                         ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{ alert.msg }}
                    </div>

                </div>
            </form>
        </div>

        <div class="col-lg-6 col-sm-6  hidden-xs" style="margin-top: 18px">
            <!--Map show-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-map-marker red"></i><strong></strong></h2>
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="map" style="height:460px;">
                        <div id="">
                            <marker position="48.864716, 2.349014"  icon="img/icons/paris.png"></marker>
                                <marker position="{{place.latitude}}, {{place.longitude}}"  title="Click to zoom"></marker>
                            <!--<div ng-repeat="iformationcenter in formationcenters">-->
                            <!--<div ng-repeat="iplace in iformationcenter.places">-->
                            <!--<marker position="{{iplace.latitude}}, {{iplace.longitude}}"  title="Click to zoom"></marker>-->
                            <!--</div>-->
                            <!--</div>-->

                            </ng-map>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{items.message}}</h3>
    </div>
    <div class="modal-body">
        <h4><strong>{{'NAME' | translate}}: </strong>{{ items.name}}</h4>
        <h4><strong>{{'CITY' | translate}}: </strong>{{items.city}}</h4>
        <h4><strong>{{'ADDRESS' | translate}}: </strong>{{items.address}}</h4>
        <!--Selected: <b>{{ selected.item }}</b>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">{{'ACCEPT' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="myModalMessageEditing.html">
    <div class="modal-header">
        <h3 class="modal-title">{{items.type}}</h3>
    </div>
    <div class="modal-body">
        <h3>{{items.message}}</h3>

        <!--Selected: <b>{{ selected.item }}</b>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">
            {{'CLOSE' | translate}}
        </button>
    </div>
    </div>
</script>
</div>